<template>
<main class="bubble-outer">
  <header class="bubble-header">
    <div class="bubble-frame" v-for="(item, index) in headerItems" @click="popBubbles(item.val)" v-if="!cards">
      <div :class="bubFlip(index)">
        <div class="bub-face bub-front" v-if="bubIndex !== index">
          <img :src="item.img" />
          <h5>{{item.label}}</h5>
        </div>
        <img class="flip-img" style="height:40%;" :src="item.img" v-if="bubIndex === index" />
      </div>
    </div>
    <div class="bubble-frame" v-for="item in headerItems" v-if="cards">
      <img :src="item.img" />
      <div class="hollow-frame"></div>
    </div>
    <div class="bubble-icon-panel" v-if="!floor" @click="newBldg()">
      <h1 style="font-size:4em;margin:0px;margin-bottom:-10px;">+</h1>
      <h5 style="margin:0px;">New Building</h5>
    </div>
    <div class="bubble-split-panel" v-else>
      <div class="bubble-split" @click="newRoom()">
        <h1>+</h1>
        <h5>New Room</h5>
      </div>
      <div class="bubble-split" @click="switchCards()">
        <img v-if="!cards" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/multicard.png" />
        <img v-if="cards" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/bubz.png" />
        <h5 v-if="!cards">Card View</h5>
        <h5 v-if="cards">Fractal View</h5>
      </div>
    </div>
  </header>
  <div v-show="!cards" class="bubble-body">
    <div id="bubble-chart"></div>
  </div>
  <div v-show="cards" class="bubble-body multi-card">
      <frame-component v-for="room in rooms" :room="room" style="margin: 10px;"></frame-component>
  </div>
</main>
</template>

<script>

import Frame from '@/components/card/Frame';

import VueHighcharts from 'vue-highcharts';
import More from 'highcharts/highcharts-more';
import Highcharts from 'highcharts';
More(Highcharts);

export default {
  data() {
    return {
      headerItems: [{
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/filterOfficial.png',
          label: 'Filter condition',
          val: 'days'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/temp.png',
          label: 'Temperature',
          val: 'ttp'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hum.png',
          label: 'Humidity',
          val: 'hhm'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvocNoText.png',
          label: 'tVOC',
          val: 'iaq'
        },
        {
          img: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/eCO2.png',
          label: 'CO2',
          val: 'co2'
        }
      ],
      cards: false,
      bubIndex: -1
    }
  },
  props: ['series', 'floor', 'fIndex', 'rooms', 'bId'],
  components: {
      'frame-component': Frame
  },
  methods: {

    bubFlip(i) {
      return this.bubIndex === i ?
        'bub-card bub-is-flipped' :
        'bub-card';
    },

    popBubbles(val) {
      let term;
      switch (val) {
        case 'days':
          term = 'days';
          break;
        case 'ttp':
          term = '˚C';
          break;
        case 'hhm':
          term = '%';
          break;
        case 'iaq':
          term = '';
          break;
        case 'co2':
          term = 'PPM';
          break;
      }
      let bubData;
      let self = this;

      bubData = this.series.map(s => {
        let ser = {
          name: s.name,
          data: [{
            name: s.name,
            term: term,
            value: s.avg[val] === '-' ? 0 : s.avg[val],
            forEvent: s.id
          }]
        }
        return ser;
      });

      bubData.forEach(b => {
        try {
          if (b.name.split(' ').length > 2) {
            b.name = b.name.split(' ');
            b.name[2] = '<br />';
            b.name = b.name.join(' ');
          }
        } catch (err) {
          b.name = 'No data';
        }
      });
      let formatLine = this.floor && this.floor === true ? `<span style="font-size:1.6em;">{point.value} {point.term}</span>` : `<span style="font-size:1.6em;">{point.value} {point.term}</span><br />{point.name}`
      var bubChart = {
        chart: {
          type: 'packedbubble',
          height: '50%',
          backgroundColor: 'none',
        },
        title: 'Buildings',
        tooltip: {
          useHTML: true,
          pointFormat: '<b>{point.name}:</b> {point.value}{point.term}'
        },
        legend: false,
        plotOptions: {
          series: {
            cursor: 'pointer',
            point: {
              events: {
                click() {
                  self.initNav(this.forEvent)
                }
              }
            }
          },
          packedbubble: {
            minSize: '40%',
            maxSize: '100%',
            zMax: 500,
            layoutAlgorithm: {
              splitSeries: false,
              gravitationalConstant: 0.05,
              bubblePadding: 8,
              friction: 0.2,
              initialPositions: 'circle',
              enableSimulation: true
            },
            dataLabels: {
              useHTML: true,
              enabled: true,
              format: formatLine,
              align: 'center',
              style: {
                color: 'lightblue',
                textOutline: 'black',
                fontWeight: 'normal',
                fontSize: '10px'

              }
            }
          }
        },
        credits: false,
        series: bubData
      }
      this.target = Highcharts.chart('bubble-chart', bubChart);
      this.bubIndex = this.headerItems.indexOf(this.headerItems.find(h => h.val === val));
    },

    initNav(id) {
      this.$emit('navTo', id);
  },

  switchCards(){
      if (!this.cards) {
          this.cards = true;
      } else {
          this.cards = false;
          this.popBubbles('ttp');
      }
  },

  assessStatus(room){
      if (!room.active) {
          return 'rgb(0, 153, 191)';
      } else if (room.overallAlerts.crit > 0) {
          return '#aa2031';
      } else if (room.overallAlerts.bad > 0) {
          return '#b59f3e';
      } else {
          return '#96fa87';
      }
  },

  newBldg(){
      this.$router.push({
          name: 'OBBldg'
      })
  },

  newRoom(){
      this.$router.push({
          name: 'OBRoom',
          params: {
              newFloor: false,
              floorIndex: this.fIndex,
              floorName: this.fName,
              bId: this.bId
          }
      })
  }

  },
  mounted() {
    this.popBubbles('ttp');
    if (this.rooms) {
        this.rooms = this.rooms.map(r => {
            r.status = this.assessStatus(r);
            return r;
        });
    }
    let toCards = localStorage.getItem('floorCards');
    if (toCards && this.floor) {
      this.cards = true;
      localStorage.removeItem('floorCards');
    }
  },
  watch: {

  }
}
</script>

<style>
.bubble-outer {
  margin-top: 70px;
  width: 92%;
  height: 95%;
  background-color: rgba(69, 148, 231, 0.1);
  border: 1px solid rgb(69, 148, 231);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bubble-frame {
  height: 85%;
  width: 15%;
  position: relative;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble-frame img {
  height: 40%;
}

.hollow-frame {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid gray;
}

.bub-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 153, 191);
  cursor: pointer;
}

.bub-front {
    background-color: #24282e;
}

.bub-card img {
    height: 55%;
}

.bub-face {
  padding-top: 12%;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.flip-img {
  width: auto;
  transform: rotateX(180deg);
  backface-visibility: hidden;
}

.bub-is-flipped {
  background-color: rgb(69, 148, 231);
  transform: rotateX(180deg);
}

.bubble-header {
  width: 100%;
  height: 18%;
  border-bottom: 2px solid rgb(69, 148, 231);
  background-color: rgba(69, 148, 231, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}

.bubble-icon-panel {
  width: 15%;
  height: 85%;
  border: 1px solid rgb(69, 148, 231);
  background-color: #24282e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.bubble-icon-panel img {
  height: 40%;
}

.bubble-split-panel {
  width: 15%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bubble-split {
  width: 100%;
  height: 49%;
  background-color: #24282e;
  border: 1px solid rgb(69, 148, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.bubble-split img {
  height: 60%;
}

.bubble-split h5 {
  margin-left: 8px;
}

.bubble-split h1 {
  height: 100%;
}

.bubble-body {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bubble-chart {
  width: 95%;
  height: 100%;
}

.multi-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

</style>
