<template>

    <div id="trend-chart"></div>

</template>

<script>

import VueHighcharts from 'vue-highcharts';
import More from 'highcharts/highcharts-more';
import Highcharts from 'highcharts';
More(Highcharts);

export default {
    data(){
        return {
            chartSeries: [],
            cats: [],
            async: false
        }
    },
    props: ['series'],
    methods: {

        initTrends(){

            let chart = {
                chart: {
                  backgroundColor: 'none',
                  style: {
                    color: 'white'
                  }
                },
                title: false,
                xAxis: {
                  categories: this.cats,
                  units: '{this.term}',
                  style: {
                    color: 'white',
                    fontFamily: 'Comfortaa'
                  },
                  labels: {
                    style: {
                      color: 'white',
                      fontFamily: 'Comfortaa'
                    }
                  }
                },
                yAxis: {
                  title: false,
                  labels: {
                    style: {
                      color: 'white',
                      fontFamily: 'Comfortaa'
                    }
                  }
                },
                plotOptions: {
                  line: {
                    dataLabels: {
                      useHTML: true
                    }
                  }
                },
                tooltip: false,
                legend: {
                  itemStyle: {
                    color: 'white',
                    fontFamily: 'Comfortaa'
                  }
                },
                credits: false,
                series: this.chartSeries
            }
            if (this.async) {
                chart.tooltip = {};
            }

            this.target = Highcharts.chart('trend-chart', chart);

        }

    },
    mounted(){
        this.chartSeries = this.series.series;
        this.cats = this.series.categories;
        this.async = this.series.async;
        this.initTrends();
    }
}

</script>

<style>

#trend-chart {
    width: 100%;
    height: 100%;
    margin-bottom: -2%;
}

</style>
