<template>

    <main class="floor-outer" :style="{'margin-top': mobile ? '130px' : '30px', 'margin-bottom': mobile ? '60px' : '0px', 'width': mobile ? '100vw' : '90vw'}">
        <main v-if="mobile" class="floor-mobile">
            <div v-for="room in rooms" :class="assessRoom(room)" :style="{'width': `${screenWidth * .3}px`, 'height': `${screenWidth * .3}px`}" @click="navRoom(room.info.id)">
                <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/doorWhite.png" />
                <h6>{{room.info.hvacName}}</h6>
            </div>
            <div class="floor-room add-floor-room" :style="{'width': `${screenWidth * .3}px`, 'height': `${screenWidth * .3}px`}" @click="initNewRoom()">
                <h1>+</h1>
                <h5>Add room</h5>
            </div>
        </main>
        <bubble-component v-if="showBubbles" :series="floorSeries" v-on:navTo="navRoom($event)" :floor="true" :rooms="rooms" :bId="floor.bId" :fName="fName" :fIndex="floor.info.index"></bubble-component>
    </main>

</template>

<script>

import formatBundle from '@/util/bundle';
import Rest from '@/util/rest';

import Bubble from '@/components/chart/Bubble';

export default {
    data(){
        return {
            mobile: false,
            screenWidth: 0,
            screenHeight: 0,
            floor: {},
            rooms: [],
            floorSeries: [],
            showBubbles: false,
            fName: ''
        }
    },
    components: {
        'bubble-component': Bubble
    },
    methods: {

        assessRoom(r){
            if (!r.active) {
                return 'floor-room inactive-floor-room';
            } else if (r.overallAlerts.crit > 0) {
                return 'floor-room crit-floor-room';
            } else if (r.overallAlerts.bad > 0) {
                return 'floor-room bad-floor-room';
            } else {
                return 'floor-room good-floor-room';
            }
        },

        setSeries(){
            this.floorSeries = this.floor.rooms.map(r => {
                return {
                    name: r.info.hvacName,
                    id: r.info.id,
                    avg: r.avg
                }
            });
            this.showBubbles = true;
        },

        navRoom(id){
            let room = this.rooms.find(r => r.info.id === id);
            let ids = JSON.parse(localStorage.getItem('breeziFloor'));
            let passIds = {bId: ids.bId, fIndex: ids.fIndex, rId: room.info.id};
            localStorage.setItem('breeziRoom', JSON.stringify(passIds));
            this.$emit('updateHeader', {
                type: 'room',
                name: room.info.hvacName,
                lgText: '',
                subText1: '',
                subText2: '',
                bad: room.overallAlerts.bad,
                crit: room.overallAlerts.crit
           });
           room.fName = this.floor.info.name ? this.floor.info.name : `Floor ${this.floor.info.index}`;
           room.bName = this.floor.bName;
           this.$router.push({
               name: 'Room',
               params: {
                   room: room
               }
           });
        },

        tryTms(){
            let now = Math.floor(Date.now()/1000);
            let loggedIn = localStorage.getItem('breeziTms');
            return loggedIn <= (now - 3600) ? false : true;
        },

        setAuxiliary(local){
          let tkn = this.$cookies.get('breeziProTkn');
          let rawBundle = local
            ? new Promise(resolve => {
              resolve(JSON.parse(localStorage.getItem('breeziBundle')));
            })
            : Rest.getInitialBundle(tkn);
          rawBundle.then(bundle => {
            if (!local) bundle = formatBundle(bundle.buildings);
            let bldgs = bundle.bldgs;
            let ids = JSON.parse(localStorage.getItem('breeziFloor'));
            let bId = ids.bId;
            let fIndex = ids.fIndex;
            let bldg = bldgs.find(b => b.info.id === bId);
            this.floor = bldg.floors.find(f => f.info.index === fIndex);
            this.floor.bName = bldg.info.name;
            this.setFloorInfo();
            this.$emit('updateHeader', {
              type: 'floor',
              name: this.fName,
              lgText: this.floor.rooms.filter(r => r.active).length,
              subText1: '',
              subText2: `Room${this.floor.rooms.length === 1 ? '' : 's'}`,
              bad: this.floor.overallAlerts.bad,
              crit: this.floor.overallAlerts.crit,
              org: bundle,
              bldg: bldg,
              floor: this.floor
            });
          });
        },

        setFloorInfo(){
          this.fName = this.floor.info.name ? this.floor.info.name : `Floor ${this.floor.info.index}`
          this.rooms = this.floor.rooms.map(r => {
              r.bName = this.floor.bName;
              r.fName = this.fName;
              return r;
          });
          if (!this.mobile) {
              this.setSeries();
          }
      },

      initNewRoom(){
          this.$router.push({
              name: 'OBRoom',
              params: {
                  newFloor: false,
                  floorIndex: this.floor.info.index,
                  floorName: this.floor.info.name ? this.floor.info.name : `Floor ${this.floor.info.index}`,
                  bId: this.floor.bId
              }
          })
      }

    },
    mounted(){
        this.screenWidth = window.innerWidth;
        this.screenHeight = window.innerHeight;
        this.mobile = this.screenWidth < 1000 ? true : false;

        if (this.tryTms()) {
          if (this.$route.params.reload) {
            this.setAuxiliary(false);
          } else {
            if (this.$route.params.floor) {
              try {
                this.floor = this.$route.params.floor;
                this.setFloorInfo();
              } catch(err) {
                this.setAuxiliary(true);
              }
            } else {
              try {
                try {
                    this.setAuxiliary(true);
                  } catch(err) {
                    console.log(err);
                    this.setAuxiliary(false);
                  }
                } catch(err) {
                  console.log(err);
                  alert('Your session has expired. Please login again');
                  this.$emit('logout');
                }
            }
          }
        } else {
          alert('Your session has expired. Please login again');
          this.$emit('logout');
        }
    }
}

</script>

<style>

.floor-outer {
    height: 90vh;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
}

.floor-mobile {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.floor-room {
    background-color: green;
    margin: 3px;
    word-break: break-all;
    padding: 4px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.floor-room img {
    height: 55%;
    border: 2px solid #dce0e3;
    border-radius: 100%;
    padding: 2px;
    margin-top: 13px;
    margin-bottom: 2px;
}

.inactive-floor-room {
    background-color: rgb(70, 69, 69);
}

.crit-floor-room {
    background-color: #aa2031;
}

.bad-floor-room {
    background-color: #b59f3e;
}

.good-floor-room {
    background-color: #5ab34d;
}

.add-floor-room {
    background-color: rgb(50, 50, 50);
    position: relative;
}

.add-floor-room h1 {
    font-size: 4em;
}

.add-floor-room h5 {
    position: absolute;
    bottom: 2%;
}

</style>
