<template>

<main class="org-outer" :style="{'margin-top': !mobile ? '30px' : '0', 'width': mobile ? '100vw' : '92vw'}">
    <main class="org-mobile" v-if="mobile">
        <section v-for="(bldg, index) in bldgs" class="mobile-org-bldg" @click="navBldg(bldg.info.id)">
            <header class="mobile-org-bldg-header">
                <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/skyline.png" />
                <h4>{{bldg.info.name}}</h4>
                <h5>{{bldg.floors.length}} <br /> Floor{{bldg.floors.length === 1 ? '' : 's'}}</h5>
            </header>
            <section class="mobile-org-bldg-icons">
                <div class="mobile-org-bldg-row">
                    <img :src="parseIcon('days', bldg).url" />
                    <img :src="parseIcon('ttp', bldg).url" />
                    <img :src="parseIcon('hhm', bldg).url" />
                    <img :src="parseIcon('iaq', bldg).url" />
                    <img :src="parseIcon('co2', bldg).url" />
                </div>
            </section>
        </section>
        <section class="mobile-org-bldg" @click="newBldg()">
          <header class="mobile-org-bldg-header">
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/skyline.png" />
          </header>
          <h1 style="margin:2px;font-size:4em;">+</h1>
            <h3 style="margin:2px;">New Building</h3>
        </section>
    </main>
    <bubble-component v-if="showBubbles" :series="orgSeries" v-on:navTo="navBldg($event)"></bubble-component>
</main>

</template>

<script>

import Bubble from '@/components/chart/Bubble';

import Series from '@/util/series';
import formatBundle from '@/util/bundle';
import Rest from '@/util/rest';

export default {
    data(){
        return {
            mobile: false,
            bldgs: {},
            orgSeries: {},
            showBubbles: false
        }
    },
    components: {
        'bubble-component': Bubble
    },
    methods: {

        parseIcon(rdg, bldg){
            let thresh = '';
            let color = '';
            let suffix = '';
            if (bldg.avg[rdg] === '-') {
                thresh = 'inactive';
                color = 'white';
            } else if (bldg.alerts[rdg].crit > 0) {
                thresh = 'crit';
                color = '#f32b43';
            } else if (bldg.alerts[rdg].bad > 0) {
                thresh = 'bad';
                color = '#f6d857';
            } else {
                thresh = 'good';
                color = '#96fa87';
            }
            switch (rdg) {
                case 'days':
                    if (thresh === 'inactive') {
                        suffix = 'days';
                    } else if (thresh === 'crit') {
                        suffix = 'critDays';
                    } else if (thresh === 'bad') {
                        suffix = 'badDays';
                    } else {
                        suffix = 'goodDays';
                    }
                break;
                case 'ttp':
                    if (thresh === 'inactive') {
                        suffix = 'ttp';
                    } else if (thresh === 'crit') {
                        suffix = 'critTtp';
                    } else if (thresh === 'bad') {
                        suffix = 'badTtp';
                    } else {
                        suffix = 'goodTtp';
                    }
                break;
                case 'hhm':
                    if (thresh === 'inactive') {
                        suffix = 'hhm';
                    } else if (thresh === 'crit') {
                        suffix = 'critHhm';
                    } else if (thresh === 'bad') {
                        suffix = 'badHhm';
                    } else {
                        suffix = 'goodHhm';
                    }
                break;
                case 'iaq':
                    if (thresh === 'inactive') {
                        suffix = 'tvoc';
                    } else if (thresh === 'crit') {
                        suffix = 'tvocCrit';
                    } else if (thresh === 'bad') {
                        suffix = 'tvocBadY';
                    } else {
                        suffix = 'tvocGood';
                    }
                break;
                case 'co2':
                    // ADD IMAGES => all will be white for now
                    suffix = 'co2';
                    // if (thresh === 'inactive') {
                    //
                    // } else if (thresh === 'crit') {
                    //
                    // } else if (thresh === 'bad') {
                    //
                    // } else {
                    //
                    // }
                break;
            }
            return {color: color, url: `https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/${suffix}.png`};
        },

        setSeries(){
            this.orgSeries = this.bldgs.map(b => {
                return {
                    name: b.info.name,
                    id: b.info.id,
                    avg: b.avg
                }
            });
            this.showBubbles = true;
        },

        navBldg(id){
            let bldg = this.bldgs.find(b => b.info.id === id);
            this.$emit('updateHeader', {
                type: 'bldg',
                name: bldg.info.name,
                lgText: bldg.floors.filter(f => f.active).length,
                subText1: `of ${bldg.floors.length}`,
                subText2: `Floor${bldg.floors.length === 1 ? '' : 's'} monitored`,
                bad: bldg.overallAlerts.bad,
                crit: bldg.overallAlerts.crit,
                bldg: bldg
            });
            localStorage.setItem('breeziBldg', id);
            this.$router.push({
                name: 'Building',
                params: {
                    bldg: bldg
                }
            });
        },

        tryTms(){
            let now = Math.floor(Date.now()/1000);
            let loggedIn = localStorage.getItem('breeziTms');
            return loggedIn <= (now - 3600) ? false : true;
        },

        setAuxiliary(local){
          let tkn = this.$cookies.get('breeziProTkn');
          let rawBundle = local
            ? new Promise(resolve => {
              let bund = localStorage.getItem('breeziBundle');
              resolve(JSON.parse(bund));
            })
            : Rest.getInitialBundle(tkn);
          rawBundle.then(bundle => {
            if (!local) bundle = formatBundle(bundle.buildings);
            this.bldgs = bundle.bldgs;
            if (!this.mobile) this.setSeries();
            let org = JSON.parse(localStorage.getItem('breeziOrg'));
            this.$emit('updateHeader', {
              type: 'org',
              name: org.name,
              lgText: bundle.active,
              subText1: `Building${this.bldgs.length === 1 ? '' : 's'}`,
              subText2: 'monitored',
              bad: bundle.overallAlerts.bad,
              crit: bundle.overallAlerts.crit,
              org: bundle
            })
          });
        }

    },
    mounted(){
        this.mobile = window.innerWidth < 1000 ? true : false;
        let buildings = [];
        if (this.tryTms()) {
          if (this.$route.params.reload) {
            this.setAuxiliary(false);
          } else {
            if (this.$route.params && this.$route.params.bldgs) {
                this.bldgs = this.$route.params.bldgs.bldgs.filter(b => b.floors);
                if (!this.mobile) {
                    this.setSeries();
                }
            } else {
                try {
                    try {
                        this.setAuxiliary(true);
                    } catch(err) {
                        console.log(err);
                        this.setAuxiliary(false);
                    }
                } catch(err) {
                    console.log(err);
                    alert('Your session has expired. Please login again');
                    this.$emit('logout');
                }
            }
          }
        } else {
            alert('Your session has expired. Please login again');
            this.$emit('logout');
        }

    }
}

</script>

<style>

.org-outer {
    height: 90%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
}

.org-mobile {
    width: 100vw;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 200px;
    overflow-y: scroll;
}

.mobile-org-bldg {
    width: 100%;
    height: 170px;
    background-color: rgba(69, 148, 231, 0.15);
    border: 1px solid rgb(69, 148, 231);
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.mobile-org-bldg-header {
    width: 100%;
    height: 30%;
    background-color: rgba(69, 148, 231, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    border-bottom: 1px solid #dce0e3;
}

.mobile-org-bldg-header img {
    width: 10%;
    border: 2px solid #dce0e3;
    border-radius: 100%;
    padding: 2px;
}

.mobile-org-bldg-header h4 {
    color: rgb(0, 153, 191);
}

.mobile-org-bldg-header h5 {
    color: lightblue;
}

.mobile-org-bldg-icons {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.mobile-org-bldg-row {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-org-bldg-row img {
    height: 90%;
}

</style>
