<template>

    <main class="card-scene">
        <div :class="cardFlip">
            <div class="card-face card-flip card-front">
                <front-component v-if="front === 'front'" :room="room" :multi="single ? false : true" v-on:initFlip="flipCard($event)" v-on:navToRoom="emitRoomNav()"></front-component>
                <left-component v-if="front === 'left'" :room="room" :series="series" v-on:initFlip="flipCard($event)" v-on:fullTrend="sendTrend($event)"></left-component>
                <right-component v-if="front === 'right'" :room="room" v-on:initFlip="flipCard($event)"></right-component>
                <room-settings-component :room="room" v-if="front === 'settings'" v-on:initFlip="flipCard({from:'settings', to: 'front'})"></room-settings-component>
            </div>
            <div class="card-face card-flip card-back">
                <front-component v-if="back === 'front'" :room="room" :multi="single ? false : true" v-on:initFlip="flipCard($event)" v-on:navToRoom="emitRoomNav()"></front-component>
                <left-component v-if="back === 'left'" :room="room" :series="series" :single="single" v-on:initFlip="flipCard($event)" v-on:fullTrend="sendTrend($event)"></left-component>
                <right-component v-if="back === 'right'" :room="room" v-on:initFlip="flipCard($event)"></right-component>
                <room-settings-component :room="room" v-if="back === 'settings'" v-on:initFlip="flipCard({from:'settings', to: 'front'})"></room-settings-component>
            </div>
        </div>
    </main>

</template>

<script>

import Front from './Front';
import Left from './Left';
import Right from './Right';
import Settings from './Settings';

export default {
    data(){
        return {
            front: 'front',
            back: 'right',
            showFront: true,
            cardFlip: 'card-flip',
        }
    },
    props: ['room', 'series', 'single'],
    components: {
        'front-component': Front,
        'left-component': Left,
        'right-component': Right,
        'room-settings-component': Settings
    },
    methods: {

        flipCard(dir){
            if (!this.showFront) {
                this.back = dir.from;
                this.front = dir.to;
                this.cardFlip = 'card-flip';
                this.showFront = true;
            } else {
                this.back = dir.to;
                this.front = dir.from;
                this.cardFlip = 'card-flip is-flipped';
                this.showFront = false;
            }
        },

        sendTrend(series){
            this.$emit('sendTrendAgain', series);
        },

        emitRoomNav(){
          let ids = JSON.parse(localStorage.getItem('breeziFloor'));
          localStorage.setItem('breeziRoom', JSON.stringify({bId: ids.bId, fIndex: ids.fIndex, rId: this.room.info.id}));
          this.$emit('updateHeader', {
            type: 'room',
            name: this.room.info.hvacName,
            lgText: '',
            subText1: '',
            subText2: '',
            bad: this.room.overallAlerts.bad,
            crit: this.room.overallAlerts.crit
          });
          this.$router.push({
            name: 'Room',
            params: {
              room: this.room
            }
          });
        }

    }
}

</script>

<style>

.card-scene {
    width: 350px;
    height: 500px;
    perspective: 1000px;
    cursor: pointer;
}

.card-flip {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: 0.7s;
    position: relative;
}

.card-face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.card-back {
    transform: rotateY(-180deg);
}

.is-flipped {
    transform: rotateY(180deg);
}

</style>
