<template>

    <div class="card card-front">
        <div class="full-status" :style="{'background-color': overallStatus()}"></div>
        <header class="card-header">
            <div class="card-header-text">
                <h2>{{room.info.hvacName}}</h2>
                <h5>{{room.bName}} •<span style="color:rgb(5, 86, 182);">• {{room.fName}}</span></h5>
            </div>
            <div class="card-header-btns">
                <div class="card-icon-tab">
                  <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/gearsWhite.png" @click="emitFlip({from: 'front', to: 'settings'})"/>
                </div>
                <div class="card-icon-tab" v-if="multi">
                  <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/magnify.png" @click="navRoom()"/>
                </div>
            </div>
        </header>
        <div class="card-body">
            <div class="card-rdg-panel">
                <img class="rdg-panel-img" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/acHeart.png" />
                <div class="internal-rdg-panel">
                    <div class="lg-rdg">
                        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/filterOfficial.png" />
                        <h2 :style="{'color': assessStatus('days')}">{{room.avg.days ||'-'}}</h2>
                        <h6>Days <br /> Remaining</h6>
                    </div>
                    <div class="rdg-divider"></div>
                    <div class="lg-rdg">
                        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/calendar.png" />
                        <h4 v-if="room.avg.days && room.avg.days !== '-'" :style="{'color': assessStatus('days'), 'margin-top': '10px', 'margin-bottom': '1px'}">{{calcedDay.split(' ')[0]}}</h4>
                        <h4 v-if="room.avg.days && room.avg.days !== '-'" :style="{'color': assessStatus('days'), 'margin-top': '0px', 'margin-bottom': '10px'}">{{calcedDay.split(' ')[1]}}</h4>
                        <h2 :style="{'color': assessStatus('days')}" v-if="!room.avg.days || room.avg.days === '-'">-</h2>
                        <h6>Projected Maintenance</h6>
                    </div>
                </div>
            </div>
            <div class="card-rdg-panel">
                <img class="rdg-panel-img" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/airHeart.png" />
                <div class="internal-rdg-panel">
                    <div class="lg-rdg">
                        <div class="sm-rdg">
                            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/temp.png" />
                            <h4 :style="{'color': assessStatus('ttp')}">{{!room.active ? '-' : room.avg.ttp}}˚C</h4>
                        </div>
                        <div class="rdg-hor-divider"></div>
                        <div class="sm-rdg">
                            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hum.png" />
                            <h4 :style="{'color': assessStatus('hhm')}">{{!room.active ? '-' : room.avg.hhm}}%</h4>
                        </div>
                    </div>
                    <div class="rdg-divider"></div>
                    <div class="lg-rdg">
                        <div class="sm-rdg">
                            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvoc.png" />
                            <h4 :style="{'color': assessStatus('iaq')}">{{!room.active ? '-' : room.avg.iaq}}</h4>
                        </div>
                        <div class="rdg-hor-divider"></div>
                        <div class="sm-rdg">
                            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/eCO2Text.png" />
                            <h4 :style="{'color': assessStatus('co2')}">{{!room.active ? '-' : room.avg.co2}}<span v-if="room.avg.co2 !== '-'">ppm</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-toggle">
            <div class="toggle-node toggle-inactive" @click="emitFlip({from: 'front', to: 'left'})">
                <h3>2</h3>
            </div>
            <div class="toggle-node toggle-active">
                <h3>1</h3>
            </div>
            <div class="toggle-node toggle-inactive" @click="emitFlip({from: 'front', to: 'right'})">
                <h3>3</h3>
            </div>
        </div>

        <small v-if="room.active && room.lastUpdated" class="updated">Last Updated: {{room.lastUpdated}}</small>

    </div>

</template>

<script>

import moment from 'moment';

import DateNorm from '@/lib/dates';

export default {
    data(){
        return {
            calcedDay: '-'
        }
    },
    props: ['room', 'multi'],
    methods: {

        emitFlip(dir){
            this.$emit('initFlip', dir);
        },

        assessStatus(rdg){
            if (!this.room.active || this.room.avg[rdg] === '-') {
                return 'rgb(0, 153, 191)';
            } else if (this.room.alerts[rdg].crit > 0) {
                return '#aa2031';
            } else if (this.room.alerts[rdg].bad > 0) {
                return '#b59f3e';
            } else {
                return '#96fa87';
            }
        },

        overallStatus(){
            let inactive = 0;
            let crit = 0;
            let bad = 0;
            if (this.room.active === false) {
                inactive = 5;
            }
            Object.keys(this.room.alerts).forEach(a => {
                if (this.room.avg[a] === '-') {
                    inactive ++;
                }
                if (this.room.alerts[a].crit > 0) {
                    crit ++;
                }
                if (this.room.alerts[a].bad > 0) {
                    bad ++;
                }
            });
            if (inactive === 5) {
                return 'rgb(0, 153, 191)';
            } else if (crit > 0){
                return '#aa2031';
            } else if (bad > 0) {
                return '#b59f3e';
            } else {
                return '#96fa87';
            }
        },

        navRoom(){
          this.$emit('navToRoom');
        }

    },
    mounted(){
        if (this.room.avg.days && this.room.avg.days !== '-') {
            let now = Math.floor(Date.now()/1000);
            let calced = now + (86400 * this.room.avg.days);
            this.calcedDay = DateNorm(calced);
        }
    }
}

</script>

<style>

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: #333237;
}

h4::-webkit-scrollbar {
    height: 2px;
}

h2::-webkit-scrollbar {
    height: 2px;
}

.card-toggle {
    width: 50%;
    height: 3px;
    background-color: rgb(0, 153, 191);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 9.5%;
    left: 25%;
    right: 25%;
}

.toggle-node {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggle-inactive {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid rgb(0, 153, 191);
    background-color: #333237;
    padding-bottom: 6px;
}

.toggle-inactive h3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-active {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 153, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

.toggle-active h3 {
    color: #333237;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-status {
    width: 100%;
    height: 8px;
}

.mini-status {
    width: 25%;
    height: 8px;
}

.card-header {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card-header-text::-webkit-scrollbar {
    height: 2px;
}

.card-header-text h2 {
    margin: 0;
}

.card-header-text h5 {
    margin-top: 8px;
    color: rgb(0, 153, 191);
}

.card-header-btns {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.card-icon-tab {
    height: 45px;
    width: 50px;
    background-color: rgb(0, 153, 191);
    margin: 5px;
    margin-right: 0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon-tab img {
  height: 60%;
}

.card-body {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-rdg-panel {
    width: 90%;
    height: 44%;
    background-color: rgb(2, 27, 47);
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rdg-panel-img {
    width: 15%;
    margin-right: 3%;
}

.internal-rdg-panel {
    width: 75%;
    height: 90%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rdg-divider {
    width: 1px;
    height: 70%;
    background-color: lightgray;
}

.lg-rdg {
    height: 80%;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lg-rdg img {
    height: 30%;
}

.lg-rdg h2 {
    margin: 12px;
}

.lg-rdg h6 {
    margin: 0px;
}

.sm-rdg {
    width: 80%;
    height: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

.sm-rdg img {
    height: 50%;
    display: flex;
    align-self: flex-start;
    margin-top: 5px;
}

.sm-rdg h4 {
    margin: 1px;
    text-align: center;
    height: 50%;
}

.sm-rdg h4::-webkit-scrollbar {
    height: 2px;
}

.rdg-hor-divider {
    width: 80%;
    height: 1px;
    margin: 2px;
    background-color: lightgray;
}

.updated {
    position: absolute;
    bottom: 1%;
    left: 1%;
}

</style>
