<template>

    <div class="card card-left">
      <div class="mini-status" :style="{'align-self': 'flex-end', 'background-color': room.status}"></div>
      <header class="card-header" style="height:15%;align-items:flex-end;">
        <div class="card-header-text">
          <h2>Maintenance</h2>
          <h5>{{room.info.hvacName}}</h5>
        </div>
      </header>
      <section class="alerts-body">
        <div class="alerts-belt">
          <li :class="activeAlert === 1 ? 'alerts-toggle active-alerts-toggle' : 'alerts-toggle'" @click="activeAlert = 1">
            Maintenance<br />Alerts
          </li>
          <li :class="activeAlert === 2 ? 'alerts-toggle active-alerts-toggle' : 'alerts-toggle'" @click="activeAlert = 2">
            Scheduled<br />Maintenance
          </li>
        </div>
        <ul class="alerts-content" v-if="activeAlert === 1">
          <li class="mobile-alert" v-for="alert in alerts" :style="{'color': alert.color}">
            <img :src="alert.img" />
            <h5>{{alert.msg}}</h5>
          </li>
        </ul>
        <div class="alerts-content" v-if="activeAlert === 2" style="justify-content:center;">
          <img style="height: 40%;" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/comingSoon.png" />
        </div>
      </section>
      <div class="card-toggle">
          <div class="toggle-node toggle-active">
              <h3>2</h3>
          </div>
          <div class="toggle-node toggle-inactive" @click="emitFlip({from: 'left', to: 'front'})">
              <h3>1</h3>
          </div>
          <div class="toggle-node toggle-inactive" @click="emitFlip({from: 'left', to: 'right'})">
              <h3>3</h3>
          </div>
      </div>
    </div>

</template>

<script>

export default {
    data(){
        return {
            mobile: false,
            activeAlert: 1,
            alerts: []
        }
    },
    props: ['room'],
    methods: {

        emitFlip(dir){
            this.$emit('initFlip', dir);
        },

        setAlerts(){
          Object.keys(this.room.alerts).forEach(a => {
            if (this.room.alerts[a].crit > 0) {
              this.alerts.push({
                msg: `Critical ${this.longAlert(a, 'crit').label} Alert`,
                img: `https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/${this.longAlert(a, 'crit').img}.png`,
                color: this.longAlert(a, 'crit').color
              });
            }
            if (this.room.alerts[a].bad > 0) {
              this.alerts.push({
                msg: `Warning ${this.longAlert(a, 'bad').label} Alert`,
                img: `https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/${this.longAlert(a, 'bad').img}.png`,
                color: this.longAlert(a, 'bad').color
              });
            }
          });
        },

        longAlert(a, sev){
          let returnAlert = {label: '', img: '', color: ''};
          switch (a) {
            case 'days':
              returnAlert.label = 'filter condition';
              returnAlert.img = `${sev}Filter`;
            break;
            case 'ttp':
              returnAlert.label = 'temperature';
              returnAlert.img = `${sev}Temp`;
            break;
            case 'hhm':
              returnAlert.label = 'humidity';
              returnAlert.img = `${sev}Hum`;
            break;
            case 'iaq':
              returnAlert.label = 'air quality';
              returnAlert.img = `${sev}VOC`;
            break;
            case 'co2':
              returnAlert.label = 'CO2';
              returnAlert.img = `${sev}CO2`
            break;
          }
          returnAlert.color = sev === 'crit' ? 'red' : 'yellow';
          return returnAlert;
        }

    },
    mounted(){
        this.setAlerts();
    }
}

</script>

<style>

.alerts-body {
  width: 97%;
  height: 68%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2f3f56;
}

.alerts-belt {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 27, 47);
}

.alerts-toggle {
  list-style: none;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active-alerts-toggle {
  background-color: #2f3f56;
}

.alerts-content {
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.mobile-alert {
  list-style: none;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px;
}

.mobile-alert img {
  height: 50%;
  margin-right: 10%;
}

</style>
