<template>

  <div class="card card-right">
    <div class="mini-status" :style="{'align-self': 'flex-start', 'background-color': room.status}"></div>
    <header class="card-header" style="height:15%;align-items:flex-end;">
      <div class="card-header-text">
        <h2>Equipment</h2>
        <h5>{{room.info.hvacName}}</h5>
      </div>
    </header>
    <section class="equip-section">
      <header class="equip-header">
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/fcu.png" />
      </header>
      <div class="toggle-belt">
        <li :class="activeEquip === 1 ? 'equip-toggle active-equip-toggle' : 'equip-toggle'" @click="activeEquip = 1">
          Asset <br />Information
        </li>
        <li :class="activeEquip === 2 ? 'equip-toggle active-equip-toggle' : 'equip-toggle'" @click="activeEquip = 2">
          Duty Cycle <br />& Runtime
        </li>
      </div>
      <div class="equip-body" v-if="activeEquip === 1">
        <h5 v-for="prop in equipProps" style="color:gray;"><span style="color:rgb(0,153,191);">{{prop.label}}: </span>{{(room.info[prop.prop] && room.info[prop.prop] !== ' ') ? room.info[prop.prop] : 'Not Specified'}}</h5>
      </div>
      <div class="equip-body" v-else>
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/comingSoon.png" />
      </div>
    </section>
    <div class="card-toggle">
        <div class="toggle-node toggle-inactive" @click="emitFlip({from: 'right', to: 'left'})">
            <h3>2</h3>
        </div>
        <div class="toggle-node toggle-inactive" @click="emitFlip({from: 'right', to: 'front'})">
            <h3>1</h3>
        </div>
        <div class="toggle-node toggle-active">
            <h3>3</h3>
        </div>
    </div>
  </div>

</template>

<script>

export default {
  data(){
    return {
      activeEquip: 1,
      equipProps: [
        {
          label: 'Type',
          prop: 'altConfig'
        },
        {
          label: 'Manufacturer',
          prop: 'manufacturer'
        },
        {
          label: 'Model',
          prop: 'modelNumber'
        },
        {
          label: 'Filter Type',
          prop: 'fType'
        },
        {
          label: 'Filter Brand',
          prop: 'fBrand'
        },
        {
          label: 'Filter Model',
          prop: 'fModel'
        },
        {
          label: 'Filter Size',
          prop: 'altSize'
        }
      ]
    }
  },
  props: ['room'],
  methods: {

    emitFlip(dir){
        this.$emit('initFlip', dir);
    }

  }
}

</script>

<style>

.equip-section {
  width: 97%;
  height: 68%;
  background-color: rgb(2, 27, 47);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-right {
  justify-content: flex-start;
}

.equip-header {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.equip-header img {
  height: 90%;
}

.toggle-belt {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equip-toggle {
  width: 50%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active-equip-toggle {
  background-color: #2f3f56;
}

.equip-body {
  width: 100%;
  height: 55%;
  background-color: #2f3f56;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.equip-body h5 {
  width: 90%;
  margin: 3.5px;
}

.equip-body img {
  height: 50%;
}

</style>
