<template>

<div class="card card-front" style="overflow:hidden;">
    <div class="full-status" :style="{'background-color': overallStatus()}"></div>
    <header class="card-header">
        <div class="card-header-text">
            <h2>{{room.info.hvacName}}</h2>
            <h5>{{room.bName}} •<span style="color:rgb(5, 86, 182);">• {{room.fName}}</span></h5>
        </div>
        <div class="card-header-btns" id="settings-flip-btn">
          <div class="card-icon-tab">
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/back.png" @click="flipBack()" />
          </div>
        </div>
    </header>
    <h3 v-if="showResponse">{{finalRes}}</h3>
    <a :class="changeSettings" id="change-filter" style="margin-top:15%;" @click="activateBtn('change')">Change Filter</a>
    <a :class="updateSettings" id="update-room" @click="activateBtn('update')">Update Details</a>
    <a :class="deleteSettings" id="delete-room" @click="activateBtn('delete')">Delete Room</a>
    <a :class="bottomTop().confirm" style="background-color:green;" v-if="awaitConfirm" @click="parseConfirm()">Confirm</a>
    <a :class="bottomTop().cancel" style="background-color:red;" v-if="awaitConfirm" @click="flipBack()">Cancel</a>
</div>

</template>

<script>

import Rest from '@/util/rest'

export default {
    data(){
        return {
            changeSettings: 'settings-btn',
            updateSettings: 'settings-btn',
            deleteSettings: 'settings-btn',
            awaitConfirm: false,
            showResponse: false,
            finalRes: ''
        }
    },
    props: ['room'],
    methods: {

        flipBack(){
            setTimeout(() => {
                this.changeSettings = 'settings-btn';
                this.updateSettings = 'settings-btn';
                this.deleteSettings = 'settings-btn';
                this.awaitConfirm = false;
            }, 500);
            this.$emit('initFlip');
        },

        overallStatus(){
            let inactive = 0;
            let crit = 0;
            let bad = 0;
            if (this.room.active === false) {
                inactive = 5;
            }
            Object.keys(this.room.alerts).forEach(a => {
                if (this.room.avg[a] === '-') {
                    inactive ++;
                }
                if (this.room.alerts[a].crit > 0) {
                    crit ++;
                }
                if (this.room.alerts[a].bad > 0) {
                    bad ++;
                }
            });
            if (inactive === 5) {
                return 'rgb(0, 153, 191)';
            } else if (crit > 0){
                return '#aa2031';
            } else if (bad > 0) {
                return '#b59f3e';
            } else {
                return '#96fa87';
            }
        },

        activateBtn(b){
            if (b === 'change') {
                this.updateSettings = 'settings-btn swipe-left';
                this.deleteSettings = 'settings-btn swipe-left';
                this.changeSettings = 'settings-btn settings-btn-active';
                this.awaitConfirm = true;
            }
            if (b === 'update') {

            }
            if (b === 'delete') {
                this.updateSettings = 'settings-btn swipe-left';
                this.changeSettings = 'settings-btn swipe-left';
                this.deleteSettings = 'settings-btn settings-btn-active';
                this.awaitConfirm = true;
            }
        },

        parseConfirm(){
          if (this.updateSettings.includes('settings-btn-active')) {

          }
          if (this.changeSettings.includes('settings-btn-active')) {
            Rest.changeFilter(this.room.info.id, localStorage.getItem('breeziBldg'), this.$cookies.get('breeziProTkn'))
              .then(res => {
                this.awaitConfirm = false;
                this.changeSettings = 'settings-btn swipe-left';
                this.finalRes = 'Filter changed. Until new measurements are posted for this device, the room will appear inactive. This should be updated within one hour.';
                this.showResponse = true;
                setTimeout(() => {
                  this.$emit('initFlip');
                  this.changeSettings = 'settings-btn';
                  this.updateSettings = 'settings-btn';
                  this.deleteSettings = 'settings-btn';
                  this.awaitConfirm = false;
                }, 5000);
              }, err => {
                alert('There was an error changing the filter. Your session may be expired -- try logging out and back in, then attempt to change the filter again.');
                setTimeout(() => {
                  this.$emit('initFlip');
                  this.changeSettings = 'settings-btn';
                  this.updateSettings = 'settings-btn';
                  this.deleteSettings = 'settings-btn';
                  this.awaitConfirm = false;
                }, 1000);
              });
          }
          if (this.deleteSettings.includes('settings-btn-active')) {
            let body = JSON.stringify({id: this.room.info.id, buildingId: localStorage.getItem('breeziBldg')});
            Rest.deleteRoom(this.$cookies.get('breeziProTkn'), body)
              .then(res => {
                this.awaitConfirm = false;
                this.deleteSettings = 'settings-btn';
                this.finalRes = 'Room deleted. Please wait while the page is reloaded.';
                this.showResponse = true;
                setTimeout(() => {
                  this.$router.push({
                    name: 'Building',
                    params: {reload: true}
                  });
                }, 5000);
              }, err => {
                console.log(err);
              });
          }
        },

        bottomTop(){
          if (this.deleteSettings.includes('settings-btn-active')) {
            return {
              confirm: 'settings-btn swipedel',
              cancel: 'settings-btn swipedeler'
            }

          } else {
            return {
              confirm: 'settings-btn swipedown',
              cancel: 'settings-btn swipedowner'
            }
          }
        }

    },

    mounted(){

    }

}

</script>

<style>

.settings-btn {
    width: 90%;
    height: 13%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dce0e3;
    cursor: pointer;
    position: relative;
}

#settings-flip-btn {

}

.settings-btn:hover {
    text-decoration: none;
    color: #dce0e3;
    border-radius: 0;
    box-shadow: 0 0 3px #dce0e3;
}

#change-filter {
    background-color: rgb(28, 62, 93);
}

#update-room {
    background-color: rgba(152, 119, 47, 0.8);
}

#delete-room {
    background-color: rgb(129, 39, 39);
}

.swipe-left {
    animation: swipeaway 1s forwards;
}

@keyframes swipeaway {
    100% {
        margin-right: 200%;
    }
}

.settings-btn-active {
    animation: fadeactive 1s forwards;
}

@keyframes fadeactive {
    100% {
        color: rgb(47, 47, 47);
        background-color: #dce0e3;
    }
}

.swipedown {
    position: absolute;
    animation: swipein 1s forwards;
    animation-delay: 0.5s;
    top: -100%;
}

.swipedowner {
    position: absolute;
    animation: swipeindeep 1s forwards;
    animation-delay: 0.8s;
    top: -100%;
}

.swipeup {
    animation: swipetop 1s forwards;
    animation-delay: 0.7s;
}

@keyframes swipein {
    100% {
        top: 49.5%;
    }
}

@keyframes swipeindeep {
    100% {
        top: 66.5%;
    }
}

.swipedel {
  position: absolute;
  animation: swipedelete 1s forwards;
  animation-delay: 0.5s;
  bottom: -100%;
}

.swipedeler {
  position: absoulte;
  animation: swipedeletedeep 1s forwards;
  animation-delay: 0.7s;
  bottom: -100%;
}

@keyframes swipedelete {
  100% {
    bottom: 50.5%;
  }
}

@keyframes swipedeletedeep {
  100% {
    bottom: 33.5%;
  }
}

@keyframes swipetop {
    0% {
        position: absolute;
        top: 66.5%;
    }
    100% {
        color: rgb(47, 47, 47);
        background-color: #dce0e3;
        position: absolute;
        top: 31.95%;
    }
}

</style>
