<template>

    <main class="form-panel">
        <header class="form-panel-header">
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/Access.png" />
            <h4>Request Access</h4>
        </header>
        <div class="form-progress">
            <div v-for="(step, index) in steps" :class="inactiveComplete(index)" :style="{'width': stepWidth}">
                <small>{{step}}</small>
                <div class="progress-node">
                    <h6 v-if="inactiveComplete(index) === 'form-progress-node completed-node'" style="color:white;">✓</h6>
                </div>
            </div>
        </div>
        <section class="form-section">
            <div class="form-input-panel" v-if="stepCounter === 0">
                <input class="breezi-input" name="admin-email" v-model="adminEmail"/>
                <label class="breezi-label" for="admin-email">Email Address*</label>
                <input class="breezi-input" name="admin-first-name" v-model="adminFirstName"/>
                <label class="breezi-label" for="admin-first-name">First Name*</label>
                <input class="breezi-input" name="admin-last-name" v-model="adminLastName"/>
                <label class="breezi-label" for="admin-last-name">Last Name*</label>
            </div>
            <div class="form-input-panel" v-if="stepCounter === 1">
                <input class="breezi-input" name="org-name" v-model="orgName"/>
                <label class="breezi-label" for="org-name">Organization Name*</label>
                <input class="breezi-input" name="org-phone-no" v-model="orgPhoneNo"/>
                <label class="breezi-label" for="org-phone-no">Phone Number</label>
            </div>
            <div class="form-input-panel" v-if="stepCounter === 2" style="height:400px;">
                <input class="breezi-input" name="org-street" v-model="orgStreet"/>
                <label class="breezi-label" for="org-street">Address Line 1*</label>
                <input class="breezi-input" name="org-street-ext" v-model="orgStreetExtended"/>
                <label class="breezi-label" for="org-street-ext">Address Line 2</label>
                <input class="breezi-input" name="org-city" v-model="orgCity"/>
                <label class="breezi-label" for="org-city">City*</label>
                <input class="breezi-input" name="org-state" v-model="orgState"/>
                <label class="breezi-label" for="org-state">State/Province/Territory</label>
                <input class="breezi-input" name="org-zip" v-model="orgZip"/>
                <label class="breezi-label" for="org-zip">Postal Code*</label>
                <input class="breezi-input" name="org-country" v-model="orgCountry"/>
                <label class="breezi-label" for="org-country">Country*</label>
            </div>
        </section>
        <div class="breezi-btn-panel">
            <a class="breezi-btn back-btn" @click="goBack()">Cancel</a>
            <a class="breezi-btn prog-btn" v-if="isFulfilled()" @click="progress()">{{stepCounter < 2 ? 'Next': 'Submit'}}</a>
        </div>
    </main>

</template>

<script>

import Rest from '@/util/rest';

export default {
    data(){
        return {
            personalInfo: false,
            adminEmail: '',
            adminFirstName: '',
            adminLastName: '',
            orgName: '',
            orgPhoneNo: '',
            orgStreet: '',
            orgStreetExtended: '',
            orgCity: '',
            orgState: '',
            orgCountry: '',
            orgZip: '',
            steps: [
                'Personal Info',
                'Organization Info',
                'Address'
            ],
            stepCounter: 0,
            stepWidth: '',
            loading: false
        }
    },
    methods: {

        inactiveComplete(i){
            if (this.stepCounter === i) {
                return 'form-progress-node active-node';
            } else if (this.stepCounter < i) {
                return 'form-progress-node inactive-node';
            } else {
                return 'form-progress-node completed-node';
            }
        },

        goBack(){
            this.$emit('navBack');
        },

        isFulfilled(){
            if (this.stepCounter === 0) {
                return this.adminEmail.length && this.adminFirstName.length && this.adminLastName.length && this.adminEmail.includes('@');
            } else if (this.stepCounter === 1) {
                return this.orgName.length;
            } else {
                return this.orgStreet.length && this.orgCity.length && this.orgZip.length && this.orgCountry.length;
            }
        },

        progress(){
            this.stepCounter ++;
            if (this.stepCounter === 3) {
                this.loading = true;
                let jsonReq = this.formatAccessRequest();
                Rest.requestAccess(jsonReq)
                    .then(accessResponse => {
                        alert('Your request has been submitted. Breezi administration has been advised to set up your account and you should receive an email within 24 hours with login instructions. Thanks for your interest in joining!');
                        this.loading = false;
                        this.goBack();
                    }, err => {
                        this.loading = false;
                        this.resetRequest();
                    });
            }
        },

        formatAccessRequest(){
            let request = {
                user: {
                  email: this.adminEmail.trim(),
                  firstName: this.adminFirstName.trim(),
                  lastName: this.adminLastName.trim(),
                  org: this.orgName.trim(),
                  phoneNumber: this.orgPhoneNo.length ? this.orgPhoneNo : ' '
                },
                org: {
                  name: this.orgName.trim(),
                  street: this.orgStreet.trim(),
                  streetExtended: this.orgStreetExtended.length ? this.orgStreetExtended.trim() : ' ',
                  city: this.orgCity.trim(),
                  state: this.orgState.length ? this.orgState.trim() : ' ',
                  zipCode: this.orgZip.trim(),
                  country: this.orgCountry.trim()
                }
            }
            try {
                return JSON.stringify(request);
            } catch(err) {
                alert('Something went wrong requesting access for this account. Please try again');
                this.resetRequest()
            }
        },

        resetRequest(){
            const self = this;
            [
                'adminEmail',
                'adminFirstName',
                'adminLastName',
                'orgName',
                'orgPhoneNo',
                'orgStreet',
                'orgStreetExtended',
                'orgCity',
                'orgState',
                'orgZip',
                'orgCity'
            ].forEach(i => {
                self[i] = '';
            });
            this.stepCounter = 0;
        }

    },
    mounted(){
        this.stepWidth = `${100/this.steps.length}%`;
    },
    watch: {
    }
}

</script>

<style>


</style>
