<template>

    <div class="cookie-outer">
        <div class="cookie-header">
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/pro-box.png" />
        </div>
        <h1>Cookies must be enabled</h1>
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/cookie.png" />
        <p>
            The current build of Breezi Pro is only accessible with cookies enabled in your browser. Please enable cookies in order to proceed.
        </p>
    </div>

</template>

<style>

.cookie-outer {
    background-color: #dce0e3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.cookie-header {
    width: 100%;
    background-color: rgb(47, 47, 47);
    height: auto;
    padding: 10px;
}

.cookie-outer h1 {
    margin: 5%;
}

.cookie-outer img {
    width: 100px;
}

.cookie-header img {
    width: 300px;
}

.cookie-outer p {
    width: 320px;
    margin-top: 50px;
}

</style>
