<template>

    <div class="form-panel" id="login-form">
        <header class="form-panel-header">
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/Login.png" />
            <h4>Login</h4>
        </header>
        <h5 :style="{'color': loginColor}">{{loginMsg}}</h5>
        <section class="form-section" id="login-section">
            <div class="form-input-panel" v-if="!resetPw">
                <input class="breezi-input" name="login-email" v-model="loginEmail" v-on:keyup.enter="enterByEnter()"/>
                <label for="login-email" class="breezi-label" style="width:95%;display:flex;justify-content:space-between;align-items:center;">Email</label>
                <div class="input-w-btn">
                    <input class="breezi-input" name="login-pw" v-model="loginPw" :type="!showPw ? 'password' : 'text'" v-on:keyup.enter="enterByEnter()"/>
                    <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/001-view.png" v-if="!showPw" @click="showHidePw()"/>
                    <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/002-private.png" v-if="showPw" @click="showHidePw()"/>
                </div>
                <label for="login-pw" class="breezi-label" style="width:95%;display:flex;justify-content:space-between;align-items:center">Password</label>
            </div>
            <div class="form-input-panel" v-else>
                <input class="breezi-input" name="new-pw" v-model="newPw" @mouseover="pwInfo = true" @mouseleave="pwInfo = false" type="password" v-on:keyup.enter="enterByEnter()" />
                <label for="new-pw" class="breezi-label">New Password</label>
                <input class="breezi-input" name="confirm-pw" v-model="confirmPw" type="password" v-on:keyup.enter="enterByEnter()"/>
                <label for="confirm-pw" class="breezi-label">Comfirm Password</label>
            </div>
        </section>
        <div class="pw-info" v-if="pwInfo">
            <p>
                Password must be at least 8 characters and contain at least one lowercase letter, one uppercase letter, one number and one special character (e.g. !, *, _, etc.);
            </p>
        </div>
        <div class="breezi-btn-panel">
            <a class="breezi-btn back-btn" @click="goBack()">Cancel</a>
            <a class="breezi-btn prog-btn" v-if="isFulfilled()" @click="submitLogin()">Submit</a>
        </div>
    </div>

</template>

<script>

import login from '@/util/login';

export default {
    data(){
        return {
            loginEmail: '',
            loginPw: '',
            showPw: false,
            resetPw: false,
            loginMsg: 'Welcome back',
            loginColor: '',
            newPw: '',
            confirmPw: '',
            pwInfo: false
        }
    },
    methods: {

        goBack(){
            this.$emit('navBack');
        },

        isFulfilled(){
            if (!this.resetPw) {
                return this.loginEmail.length && this.loginPw.length && this.loginEmail.includes('@');
            } else {
                let reggie = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
                return this.newPw.length && reggie.test(this.newPw) && this.newPw === this.confirmPw;
            }
        },

        showHidePw(){
            this.showPw = this.showPw === false
                ? true
                : false;
        },

        submitLogin(){
            if (!this.resetPw) {
                login(this.loginEmail, this.loginPw)
                    .then(tkn => {
                      this.$cookies.set('breeziProTkn', tkn);
                      this.$emit('succeedLogin', tkn);
                    }, tknErr => {
                      if (tknErr === 'change password') {
                        this.loginMsg = 'Password change required';
                        this.loginColor = 'orange';
                        this.resetPw = true;
                      } else {
                        this.loginMsg = 'Credentials invalid';
                        this.loginColor = '#ca5150';
                        this.loginEmail = '';
                        this.loginPw = '';
                      }
                  });
            } else {
                this.changePw();
            }
        },

        changePw() {
            login(this.loginEmail, this.loginPw, this.newPw)
                .then(tkn => {
                  this.$cookies.set('breeziProTkn', tkn);
                  this.$emit('succeedLogin', tkn);
                }, newErr => {
                  this.loginMsg = 'Unable to confirm user';
                  this.loginColor = '#ca5150';
                  this.udPw = '';
                  this.confPw = '';
                })
        },

        enterByEnter(){
          if (this.isFulfilled()) {
            this.resetPw ? this.changePw() : this.submitLogin();
          }
        }

    }
}

</script>

<style>

#login-form {
    height: 420px;
    max-height: 40vh;
}

#login-section {
    margin-top: 8%;
}

.input-w-btn {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.input-w-btn img {
    height: 24.2px;
    width: 24px;
    background-color: rgb(0, 153, 191);
    padding: 2px;
    cursor: pointer;
}

.input-w-btn img:hover {
    background-color: lightblue;
}

.form-input-panel img:hover {
    background-color: lightblue;
}

.pw-info {
    position: absolute;
    bottom: 22%;
    background-color: lightgray;
    font-size: 0.8em;
    width: 350px;
    left: 37px;
    height: 15%;
    color: darkblue;
}

</style>
