<template>
  <main class="splash-outer">
    <main class="dark-overlay">
      <img v-if="!loading && !login && !request" class="logo" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/pro-box.png" />
      <h3 v-if="!loading && !login && !request" style="font-size:20px;margin-top:4px;margin-bottom:20px;">Predictive Maintenance for<br /> Commercial HVAC</h3>
      <section v-if="!request && !login && !loggingIn && !loading" class="splash-panel">
        <a class="breezi-btn" id="login-btn" @click="initLogin()">
          <h5>Login</h5>
        </a>
        <a class="breezi-btn" id="access-btn" @click="initAccess()">
          <h5>Get Access</h5>
        </a>
        <a class="breezi-btn" id="more-btn" @click="breeziLink()">
          <h5>More Info</h5>
        </a>
    </section>
      <article v-if="login && !loading" class="splash-content">
        <login-component v-on:fromLogin="clearLogin($event)" v-on:navBack="resetSplash()" v-on:succeedLogin="loadBundle($event)"></login-component>
      </article>
      <article v-if="request && !loading" class="splash-content">
        <access-component v-on:fromRequest="clearRequest($event)" v-on:navBack="resetSplash()"></access-component>
      </article>
    </main>
    <loading-component v-if="loading"></loading-component>
    <cookie-component v-if="noCookie"></cookie-component>
  </main>
</template>

<script>

import Loading from '@/components/design/Loading';
import Login from './Login';
import Access from './Access';
import Cookie from './Cookie';

import Rest from '@/util/rest';

export default {
    data(){
        return {
            loading: false,
            login: false,
            request: false,
            loggingIn: false,
            noCookie: false
        }
    },
    components: {
        'loading-component': Loading,
        'login-component': Login,
        'access-component': Access,
        'cookie-component': Cookie
    },
    methods: {

        breeziLink(){
          window.location = 'https://www.breezi-pro.io';
        },

        initAccess(){
            this.login = false;
            this.request = true;
        },

        initLogin(){
            this.login = true;
        },

        resetSplash(){
            this.login = false;
            this.request = false;
            this.loading = false;
        },

        loadBundle(event){
            this.login = false;
            this.loading = true;
            let tkn = event;
            Rest.getInitialBundle(tkn)
                .then(bundle => {
                    localStorage.setItem('breeziBundle', JSON.stringify(bundle));
                    localStorage.setItem('breeziTms', Math.floor(Date.now()/1000));
                    this.$emit('loginSuccessful', bundle);
                }, err => {
                    alert('We were unable to locate any data for your account. Please try logging in again and if the problem persists, contact support@breezi.io to let us know that you are having this issue.');
                    this.loading = false;
                });
        }

    },
    mounted(){
        this.$emit('hideNav');
        if (!navigator.cookieEnabled) this.noCookie = true;
        this.$cookies.remove('breeziProTkn');
        if (localStorage.getItem('floorCards') && localStorage.getItem('floorCards') !== undefined) localStorage.removeItem('floorCards');
    }
}

</script>

<style>

.splash-outer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/city_center+copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.logo {
    width: 350px;
    max-width: 70%;
    margin-bottom: 4px;
}

.splash-panel {
    width: 400px;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.splash-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-btn {
    background-color: rgba(71, 170 ,60, 0.5);
    border:1px solid #49e740;
}

#access-btn {
    background-color: rgba(231, 148, 92, 0.5);
    border:1px solid #df764e;
}

#more-btn {
    background-color: rgba(64, 103, 154, 0.5);
    border: 1px solid rgb(60, 104, 235);
}

</style>
