<template>

  <main class="ob-outer">
    <section class="ob-form">
      <div class="ob-header" v-if="!loading">
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/doorWhite.png" />
        <h4>Add Room</h4>
      </div>
      <div class="ob-progress" v-if="!loading">
        <div v-for="step in steps" :class="activeObStep(step.step)" :style="{'width': `${100/steps.length}%`}" @click="navProg(step.step)">
          <h6>{{step.title}}</h6>
          <div class="ob-node-bulb">
            <h3 v-if="activeObStep(step.step) === 'ob-node ob-finished-node'" style="color:#767584;">✓</h3>
          </div>
        </div>
      </div>
      <form class="ob-content" v-if="counter === 0">
        <input class="ob-input" name="floor-name" v-model="floorName" v-if="newFloor"/>
        <label for="floor-name" v-if="newFloor">Floor Name</label>
        <input class="ob-input" name="room-name" v-model="roomName"/>
        <label for="room-name">Room Name</label>
      </form>
      <form class="ob-content" v-if="counter === 1">
        <input class="ob-input" name="did" v-model="did" />
        <label for="did">AirPulse id</label>
      </form>
      <form class="ob-content" v-if="counter === 2">
        <div class="ob-sidebyside">
          <div class="mini-ob-panel">
            <input class="mini-ob-input" name="manufacturer" v-model="manufacturer"/>
            <label for="manufacturer">Manufacturer<br /> (optional)</label>
          </div>
          <div class="mini-ob-panel">
            <input class="mini-ob-input" name="model" v-model="model"/>
            <label for="model">Model Number<br /> (optional)</label>
          </div>
        </div>
        <!-- <input class="ob-input" name="runtime" v-model="runtime" disabled placeholder="coming soon" style="text-align:center;background-color:rgba(0,0,0,0.7);" />
        <label for="runtime">Current Runtime</label> -->
        <ul class="ob-selector-list">
          <li class="ob-selector" v-for="type in types" v-if="!nonTypes.includes(type.name)" @click="setType(type.name)">
            <h4 style="margin:0;color:lightblue;">{{type.name}}</h4>
            <h6 style="margin:0;">{{type.sub}}</h6>
          </li>
        </ul>
      </form>
      <form class="ob-content" v-if="counter === 3">
        <div class="ob-sidebyside">
          <div class="mini-ob-panel" style="margin-right:10%;">
            <input class="mini-ob-input" name="f-brand" v-model="brand" />
            <label for="f-brand">Brand (optional)</label>
          </div>
          <div class="mini-ob-panel" style="margin-left:10%;">
            <input class="mini-ob-input" name="f-model" v-model="fModel" />
            <label for="f-model">Model (optional)</label>
          </div>
        </div>
        <h4>Dimensions</h4>
        <div class="ob-sidebyside" style="justify-content:center;border:2px solid gray;padding:10px;">
          <div class="trinput-panel">
            <input class="mini-ob-input" name="length" v-model="fLength" placheolder="#" />
            <label for="length">Length (in.)</label>
          </div>
          <h4>x</h4>
          <div class="trinput-panel">
            <input class="mini-ob-input" name="width" v-model="width" placheolder="#" />
            <label for="width">Width (in.)</label>
          </div>
          <h4>x</h4>
          <div class="trinput-panel">
            <input class="mini-ob-input" name="depth" v-model="depth" placheolder="#" />
            <label for="depth">Depth (in.)</label>
          </div>
        </div>
        <ul class="ob-selector-list" v-show="allData()" >
          <li class="ob-selector" v-for="type in filterTypes" v-if="!nonFTypes.includes(type)" @click="setFilter(type)">
            <h4>{{type}}</h4>
          </li>
        </ul>
      </form>
      <div class="ob-content" v-if="counter === 4" style="height:55%;margin-top:0%;">
        <div class="ob-selector-list" style="height: 300px;">
          <div class="summary-panel" v-if="newFloor">
            <div class="summary-header">
              <h5>Floor Name</h5>
            </div>
            <div class="summary-body">
              <h5>{{floorName}}</h5>
            </div>
          </div>
          <div class="summary-panel">
            <div class="summary-header">
              <h5>Room Name</h5>
            </div>
            <div class="summary-body">
              <h5>{{roomName}}</h5>
            </div>
          </div>
          <div class="summary-panel">
            <div class="summary-header">
              <h5>AirPulse id</h5>
            </div>
            <div class="summary-body">
              <h5>{{did}}</h5>
            </div>
          </div>
          <div class="summary-panel">
            <div class="summary-header">
              <h5>Equip. Manuf.</h5>
            </div>
            <div class="summary-body">
              <h5>{{manufacturer !== '' ? manufacturer : 'not specified'}}</h5>
            </div>
          </div>
          <div class="summary-panel">
            <div class="summary-header">
              <h5>Equip. Model</h5>
            </div>
            <div class="summary-body">
              <h5>{{model !== '' ? model : 'not specified'}}</h5>
            </div>
          </div>
          <div class="summary-panel">
            <div class="summary-header">
              <h5>Equip. Type</h5>
            </div>
            <div class="summary-body">
              <h5>{{equipType}}</h5>
            </div>
          </div>
          <div class="summary-panel">
            <div class="summary-header">
              <h5>Filter Brand</h5>
            </div>
            <div class="summary-body">
              <h5>{{brand.length ? brand : 'not specified'}}</h5>
            </div>
          </div>
          <div class="summary-panel">
            <div class="summary-header">
              <h5>Filter Model</h5>
            </div>
            <div class="summary-body">
              <h5>{{fModel.length ? fModel : 'not specified'}}</h5>
            </div>
          </div>
          <div class="summary-panel">
            <div class="summary-header">
              <h5>Filter Dimens.</h5>
            </div>
            <div class="summary-body">
              <h5>{{`${fLength}x${width}x${depth}in`}}</h5>
            </div>
          </div>
          <div class="summary-panel">
            <div class="summary-header">
              <h5>Filter Type</h5>
            </div>
            <div class="summary-body">
              <h5>{{filterType}}</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="ob-btns" v-if="!loading">
          <a v-if="counter > 0" style="background-color:#ff8c00;" class="breezi-btn" @click="counter--"><h5>Back</h5></a>
          <a style="background-color:#c22f32;margin-left:20px;margin-right:20px;" class="breezi-btn" @click="goBack()"><h5>Cancel</h5></a>
        <div class="ob-nav-btn" v-if="!allData()" style="opacity:0"><a></a></div>
        <a style="background-color:#33991f;" class="breezi-btn" @click="progress()"><h5>{{counter === 4 ? 'Submit' : 'Next'}}</h5></a>
      </div>
      <loading-component v-if="loading" style="height:100%;width:100%;position:relative;"></loading-component>
    </section>
  </main>

</template>

<script>

import Loading from '@/components/design/Loading';

import Rest from '@/util/rest';

  export default {
    data(){
      return {
        tkn: '',
        newFloor: false,
        floorIndex: null,
        floorName: '',
        bId: '',
        steps: [
          {
            step: 0,
            title: 'Room'
          },
          {
            step: 1,
            title: 'AirPulse'
          },
          {
            step: 2,
            title: 'HVAC'
          },
          {
            step: 3,
            title: 'Filter'
          },
          {
            step: 4,
            title: 'Summary'
          }
        ],
        newRoomTitle: '',
        counter: 0,
        showTypes: false,
        fName: '',
        roomName: '',
        did: '',
        runtime: '',
        eTypes: false,
        equipType: 'Type',
        types: [
          {
            name: 'FCU',
            sub: 'Fan Coil Unit'
          },
          {
            name: 'AHU',
            sub: 'Air Handling Unit'
          },
          {
            name: 'VAV',
            sub: 'Variable Air Volume Unit'
          },
          {
            name: 'VRF',
            sub: 'Variable Refrigerant Flow'
          },
          {
            name: 'PTAC',
            sub: 'PTAC'
          },
          {
            name: 'VTAC',
            sub: 'Vertical Terminal Air Con'
          },
          {
            name: 'SPLIT',
            sub: 'Mini-split HVAC Unit'
          },
          {
            name: 'OTHER',
            sub: 'configuration'
          },
        ],
        nonTypes: [],
        manufacturer: '',
        model: '',
        brand: '',
        fModel: '',
        filterType: 'Type',
        fTypes: false,
        filterTypes: ['HEPA', 'PANEL', 'BAG', 'MEDIA ROLL', 'FOAM', 'OTHER'],
        nonFTypes: [],
        fLength: '',
        width: '',
        depth: '',
        progNodes: [
          'General',
          'Equip. type',
          'Equip. info',
          'Filter info',
          'Filter size',
          'Summary'
        ],
        progCounter: 0,
        loading: false
      }
    },
    components: {
      'loading-component': Loading
    },
    methods: {

      activeObStep(s){
        if (s === this.counter) {
          return 'ob-node ob-active-node';
        } else if (s > this.counter) {
          return 'ob-node';
        } else {
          return 'ob-node ob-finished-node';
        }
      },
      allData(){
        let self = this;
        switch (this.counter) {
          case 0:
            return this.floorName !== '' && this.roomName !== '';
          break;
          case 1:
            return this.did.length >= 7 && !isNaN(this.did);
          break;
          case 3:
            return ['fLength', 'width', 'depth'].every(checkNum);
          break;
          case 4:
            return true;
          break;
          default:
            return false;
        }
        function checkNum(prop){
          return self[prop].length && !isNaN(self[prop]);
        }
      },

      progress(){
        this.counter ++;
        if (this.counter === 5) {
          this.submitNewRoom();
        }
      },
      hasProp(p){
        // will need additional normalization
        const self = this;
        if (p === 'roomName') {
          if (this.roomName.length > 0 && this.did.length > 6 && !isNaN(this.did)) {
            return true;
          } else {
            return false;
          }
        }
        if (p === 'size') {
          if (['fLength', 'width', 'depth'].every(properInput)) {
            return true;
          } else {
            return false;
          }
        }
        function properInput(p){
          return self[p].length > 0 && !isNaN(self[p]);
        }
      },
      title(){
        return [
          'Adding a new room...',
          'Device info',
          'Equipment info',
          'Equipment info',
          'Filter details',
          'Filter details'
        ][this.counter];
      },
      showEquipTypes(){
        this.eTypes = this.eTypes === true
          ? false
          : true;
      },
      setType(t){
        this.equipType = t;
        this.nonTypes = this.types.map(t => t.sub).filter(x => x !== t);
        this.progress();
      },
      showFilterTypes(){
        this.fTypes = this.fTypes === true
          ? false
          : true;
      },
      setFilter(f){
        this.filterType = f;
        this.nonFTypes = this.filterTypes.filter(x => x !== f);
        this.progress();
      },
      submitNewRoom(){
        let body = {
          ac: true,
          aq: true,
          hvacName: this.roomName,
          configuration: 'IN_UNIT',
          altConfig: this.equipType,
          size: 'S_10x24x1',
          altSize: `${this.fLength}x${this.width}x${this.depth}`,
          floorIndex: this.floorIndex,
          device: parseInt(this.did),
          manufacturer: this.manufacturer ? this.manufacturer : ' ',
          modelNumber: this.model ? this.model : ' ',
          fBrand: this.brand ? this.brand : ' ',
          fModel: this.fModel ? this.fModel : ' ',
          fType: this.filterType,
          hardwareVersion: '0.0.4',
          buildingId: localStorage.getItem('breeziBldg')
        }
        this.loading = true;
        setTimeout(() => {
          Rest.postNewRoom(body, this.$cookies.get('breeziProTkn'))
            .then(res => {
              this.loading = false;
              this.$router.push({name: this.newFloor ? 'Building' : 'Floor', params: {reload: true}});
            }, err => {
              alert('There was an error adding the room. Please review the room details and try submitting again.');
              this.loading = false;
            });
        });
      },
      goBack(){
        // this.$emit('finOnboard');
        this.$router.push({name: 'Building'});
      },
      assessWidth(){
        if (this.mobile) {
          return 'onboard-form'
        } else {
          return 'onboard-form onboard-web'
        }
      },
      nodeClass(i){
        if (this.progCounter === i) {
          return 'prog-node prog-active room-progress';
        } else if (this.progCounter > i) {
          return 'prog-node prog-past  room-progress';
        } else {
          return 'prog-node prog-inactive  room-progress';
        }
      },
      navProg(i){
        this.counter = i;
      }
    },
    mounted() {
      this.screenSize = window.innerWidth;
      this.mobile = this.screenSize <= 500
        ? true
        : false;
      this.tkn = this.$cookies.get('breeziProTkn');
      this.newFloor = this.$route.params.newFloor;
      this.floorIndex = this.$route.params.floorIndex;
      this.floorName = this.$route.params.floorName;
      this.bId = this.$route.params.bId;
    }
  }

</script>

<style>

.ob-form {
  height: 600px;
  width: 600px;
  margin-top: 50px;
  max-width: 100%;
  max-height: 90%;
  background-color: rgba(69, 148, 231, 0.15);
  border: 1px solid rgb(69, 148, 231);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  align-self: center;
}

.ob-header {
  width: 70%;
  height: 12%;
  /* background-color: rgb(0, 153, 191); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ob-header img {
  height: 50%;
  width: auto;
  margin-right: 5%;
}

.ob-progress {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ob-node {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ob-finished-node {
  cursor: pointer;
  border-radius: 100%;
}

.ob-node h6 {
  color: lightblue;
}

.ob-active-node h6 {
  color: rgb(0, 153, 191);
}

.ob-node-bulb {
  width: 30px;
  height: 30px;
  border: 2px solid #767584;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
}

.ob-active-node .ob-node-bulb {
  width: 30px;
  height: 30px;
  background-color: rgb(0, 153, 191);
  border: none;
}

.ob-finished-node .ob-node-bulb {
  background-color: #56e248;
  border: 1px solid #56e248;
}

.ob-finished-node h6 {
  color: #56e248;
}

.ob-content {
  height: 60%;
  width: 100%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ob-input {
  width: 350px;
  max-width: 90%;
  font-size: 1.4em;
  padding-left: 2%;
  padding-right: 2%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #767584;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
}

label {
  color: #767584;
  margin-top: 8px;
  margin-bottom: 2%;
}

.ob-sidebyside {
  max-width: 90%;
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.mini-ob-panel {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini-ob-input {
  width: 100%;
  font-size: 1.4em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #767584;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  text-align: center;
}

.ob-selector-list {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.ob-selector {
  width: 30%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #767584;
  /* border: 1px solid #767584; */
  list-style: none;
  padding: 4px;
  background-color: #487193;
  color: white;
  /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); */
  margin: 3px;
  cursor: pointer;
}

.ob-selector:hover {
  animation: transitBlue 1s ease infinite;
}

@keyframes transitBlue {
  100% {
    background-color: rgba(0, 153, 191);
    border: 1px solid rgb(0, 153, 191);
  }
}

::placeholder {
  color: lightgray;
}

.ob-btns {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3.5%;
  padding-right: 3.5%;
  margin-bottom: 3.5%;
}

.ob-btn {
  height: 50px;
  width: 100px;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  margin: 10px;
}

.ob-btn:hover {
  border-radius: 0px;
  text-decoration: none;
}

.ob-btn h2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6f2f1;
}

.ob-btn img {
  height: 60%;
  width: 60%;
}

.summary-panel {
  height: 60px;
  width: 120px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(0, 153, 191);
}

.summary-header {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 153, 191);
  color: white;
}

.summary-body {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-panel h5 {
  margin: 0;
  word-break: break-all;
}

.ob-sidebyside h4 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  margin: 1%;
}

</style>
