<template>

    <main class="bldg-outer ob-outer" :style="{'margin-bottom': mobile ? '60px' : '0px'}">
        <div class="bldg-main">
            <header class="bldg-header">
                <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tilesWhite.png" />
                <div class="bldg-header-text">
                    <h5>{{bldg.info.city}}</h5>
                    <h2>•</h2>
                    <h5>{{bldg.info.country}}</h5>
                    <h2>•</h2>
                    <h5>{{bldg.info.zipCode}}</h5>
                </div>
                <img style="height:30px;width:30px;cursor:pointer;" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/gearsWhite.png" @click="bldgSettings()" />
            </header>
            <section class="bldg-body">
                <div v-for="floor in floors" v-if="!settings" :class="assessFloorStatus(floor)" @click="navFloor(floor)">
                    <h5>{{floor.info.name ? floor.info.name : `Floor ${floor.info.index}`}}</h5>
                    <img v-if="floor.info.name !== 'Ground Level' && floor.active" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/expandWhite.png" />
                    <h2 v-if="floor.info.name !== 'Ground Level' && !floor.active" style="height:100%;display:flex;justify-content:center;align-items:center;margin-top:15px;">+</h2>
                </div>
                <div class="floor inactive-floor" v-if="settings && update" id="update-info-floor">
                  <h5>Update building details (coming soon)</h5>
                </div>
                <div class="floor non-sequifloor" v-if="initDelete">
                  <input class="breezi-input" v-model="delBldgName" name="del-bldg-name" />
                  <label for="del-bldg-name" class="breezi-label">Enter building name to confirm</label>
                </div>
                <div class="floor non-sequifloor" v-if="initDelete">
                  <div class="floor-btns">
                    <a class="breezi-btn back-btn" @click="remit()">Cancel</a>
                    <a class="breezi-btn" style="background-color:darkred;border:1px solid red;" v-if="delBldgName === bldg.info.name" @click="confDelete()">Confirm</a>
                  </div>
                </div>
                <div class="floor settings-floor" v-if="settings && delBldg" id="delete-bldg-floor" @click="setOptions('delete')">
                  <h5>Delete building</h5>
                </div>
            </section>
        </div>
    </main>

</template>

<script>

import formatBundle from '@/util/bundle';
import Rest from '@/util/rest';

export default {
    data(){
        return {
            bldg: {},
            floors: [],
            mobile: false,
            settings: false,
            update: true,
            delBldg: true,
            initDelete: false,
            delBldgName: ''
        }
    },
    methods: {

      bldgSettings(){
        this.settings = this.settings === true ? false : true;
      },

      setOptions(o){
        if (o === 'delete') {
          this.delBldg = false;
          this.update = false;
          this.initDelete = true;
        }
      },

      remit(){
        this.settings = false,
        this.update = true;
        this.delBldg = true;
        this.initDelete = false;
        this.delBldgName = '';
      },

      confDelete(){
        Rest.deleteBldg(this.$cookies.get('breeziProTkn'), this.bldg.info.id)
          .then(res => {
            this.$router.push({name: 'Org', params: {reload: true}});
          }, err => {
            console.log(err);
            alert('Unable to delete building. Please logout and try again');
            this.initDelete = false;
            this.settings = false;
          });
      },

        formatFloors(floors){
            floors.forEach(f => {
                if (f.info) {
                    this.floors.push(f);
                } else {
                    f = {info: f, active: false};
                    this.floors.push(f);
                }
            });
            if (!this.floors.find(f => f.info.index === 0)) {
                this.floors.push({info: {index: 0, name: 'Ground Level'}});
            }
            this.floors = this.floors.sort((a, b) => {return b.info.index - a.info.index});
        },

        assessFloorStatus(f){
            if (f.info.name === 'Ground Level') {
                return 'ground-level';
            } else if (!f.rooms || f.rooms.length < 1) {
                return 'floor inactive-floor';
            } else if (f.rooms.every(r => !r.active)) {
                return 'floor no-active-rooms';
            } else if (f.overallAlerts.crit > 0) {
                return 'floor crit-floor';
            } else if (f.overallAlerts.bad > 0) {
                return 'floor bad-floor';
            } else {
                return 'floor good-floor';
            }
        },

        navFloor(floor){
            localStorage.setItem('breeziFloor', JSON.stringify({bId: this.bldg.info.id, fIndex: floor.info.index}));
            if (floor.info.index !== 0) {
              if (!floor.active) {
                  this.$router.push({
                      name: 'OBRoom',
                      params: {
                          newFloor: true,
                          floorIndex: floor.info.index,
                          floorName: `Floor ${floor.info.index}`,
                          bId: this.bldg.info.id
                      }
                  })
              } else {
                  this.$emit('updateHeader', {
                      type: 'floor',
                      name: floor.info.name,
                      lgText: floor.rooms.filter(r => r.active).length,
                      subText1: ``,
                      subText2: `Room${floor.rooms.length === 1 ? '' : 's'} monitored`,
                      bad: floor.overallAlerts.bad,
                      crit: floor.overallAlerts.crit,
                      floor: floor
                  });
                  floor.bName = this.bldg.info.name;
                  floor.bId = this.bldg.info.id;
                  this.$router.push({
                      name: 'Floor',
                      params: {
                          floor: floor
                      }
                  });
              }
            }
        },

        tryTms(){
            let now = Math.floor(Date.now()/1000);
            let loggedIn = localStorage.getItem('breeziTms');
            return loggedIn <= (now - 3600) ? false : true;
        },

        setAuxiliary(local){
          let tkn = this.$cookies.get('breeziProTkn');
          let rawBundle = local
            ? new Promise(resolve => {
              resolve(JSON.parse(localStorage.getItem('breeziBundle')));
            })
            : Rest.getInitialBundle(tkn);
          rawBundle.then(bundle => {
            if (!local) bundle = formatBundle(bundle.buildings);
            let bldgs = bundle.bldgs;
            let bId = localStorage.getItem('breeziBldg');
            this.bldg = bldgs.find(b => b.info.id === bId);
            if (this.floors.length === 0) {
              this.formatFloors(this.bldg.floors);
            }
            this.$emit('updateHeader', {
              type: 'bldg',
              name: this.bldg.info.name,
              lgText: this.bldg.floors.filter(f => f.active).length,
              subText1: `of ${this.bldg.floors.length}`,
              subText2: `Floor${this.bldg.floors.length === 1 ? '' : 's'} monitored`,
              bad: this.bldg.overallAlerts.bad,
              crit: this.bldg.overallAlerts.crit,
              org: bundle,
              bldg: this.bldg
            });
          });
        }

    },
    mounted(){
        // Set up refresh/back logic w localStorage or supplementary REST call (final solution = forceLogout here)
        this.mobile = window.innerWidth < 1000 ? true : false;
        if (this.tryTms()) {
          if (this.$route.params.reload) {
            this.setAuxiliary(false);
          } else {
            if (this.$route.params.bldg) {
              try {
                this.bldg = this.$route.params.bldg;
                if (this.floors.length === 0) {
                    this.formatFloors(this.bldg.floors);
                }
              } catch(err) {
                console.log(err);
                this.setAuxiliary(true);
              }
            } else {
              try {
                try {
                  this.setAuxiliary(true);
                } catch(err) {
                  console.log(err);
                  this.setAuxiliary(false);
                }
              } catch(err) {
                console.log(err);
                alert('Your session has expired. Please login again');
                this.$emit('logout');
              }
            }
          }
        } else {
          alert('Your session has expired. Please login again');
          this.$emit('logout');
        }
    }
}

</script>

<style>

.bldg-outer {
    width: 100vw;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    padding-bottom: 50px;
    overflow-y: scroll;
}

.bldg-main {
    width: 830px;
    max-width: 95%;
    background-color: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding-bottom: 5px;
    border: 1px solid rgb(69, 148, 231);
}

.bldg-header {
    width: 100%;
    height: 60px;
    background-color: rgba(69, 148, 231, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    border-top: 1px solid rgb(69, 148, 231);
    border-bottom: 1px solid rgb(69, 148, 231);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bldg-header img {
    height: 45px;
    width: 45px;
    border: 2px solid #dce0e3;
    border-radius: 100%;
    padding: 2px;
}

.bldg-header-text {
    width: 50%;
    height: 40px;
    /* border-top: 1px solid #c7c9c9; */
    border-top: none;
    /* background-color: rgba(69, 148, 231, 0.25); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bldg-header-text h5 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bldg-header-text h2 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: -3px;
    color: rgb(0, 153, 191);
}

.bldg-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8px;
    /* background-color: rgba(69, 148, 231, 0.1); */
}

.floor {
    width: 98%;
    height: 60px;
    margin: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.floor:hover {
    box-shadow: 0 0 3px white;
}

.floor img {
    height: 30%;
}

.ground-level {
    width: 98%;
    height: 22px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 3px;
    color: white;
    background-color: rgb(1, 106, 133);
}

.inactive-floor {
    background-color: rgb(70, 69, 69);
}

.crit-floor {
    background-color: #aa2031;
}

.bad-floor {
    background-color: #b59f3e;
}

.good-floor {
    background-color: #5ab34d;
}

.no-active-rooms {
  background-color: rgb(0, 153, 191);
}

.settings-floor {
  animation: swoopin .8s forwards;
  margin-bottom: -20vh;
  opacity: 0;
}

@keyframes swoopin {
  50% {
    opacity: 0;
  }
  100% {
    margin-bottom: 0px;
    opacity: 1;
  }
}

#update-info-floor {
  /* background-color: rgba(152, 119, 47, 0.8); */
}

#delete-bldg-floor {
  background-color: rgb(129, 39, 39);
}

.non-sequifloor {
  justify-content: center;
  padding: 0;
  flex-direction: column;
}

.non-sequifloor:hover {
  box-shadow: none;
  cursor: default;
}

.non-sequifloor input {
  width: 300px;
}

.non-sequifloor label {
  width: 300px;
  text-align: center;
}

.floor-btns {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

</style>
