<template>

    <main class="room-outer" :style="{'height': mobile ? '72vh' : '', 'margin-top': mobile ? '130px' : '80px', 'margin-bottom': mobile ? '60px' : '0px'}">
        <frame-component v-if="mobile" :room="room" :series="series" :single="true" v-on:sendTrendAgain="appTrend($event)"></frame-component>
        <main v-else class="web-room">
            <header class="room-header">
                <div class="room-panel room-header-name" style="position:relative;">
                    <h3>{{room.info.hvacName}}</h3>
                    <h4>{{room.bName}}</h4>
                    <h5>{{room.fName}}</h5>
                    <small style="position:absolute;bottom:2%;left:3%;font-size:0.8em;"><span style="color:lightblue;">Updated:</span> {{room.lastUpdated}}</small>
                </div>
                <div class="room-panel room-header-rdg" id="days-panel">
                    <div class="room-panel-half">
                        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/filterOfficial.png" />
                        <h3>{{room.avg.days || '-'}}</h3>
                        <h5>Days<br />Remaining</h5>
                    </div>
                    <div class="room-panel-divider"></div>
                    <div class="room-panel-half">
                        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/calendar.png" />
                        <h3 v-if="room.avg.days && room.avg.days !== '-'" style="font-size: 1.8em;">{{calcMaint()}}</h3>
                        <h3 v-if="!room.avg.days || room.avg.days === '-'">-</h3>
                        <h5>Projected<br />Maintenance</h5>
                    </div>
                </div>
                <div class="room-panel room-header-rdg" id="env-panel">
                    <div class="room-panel-half">
                        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/temp.png" />
                        <h3 style="color:white;">{{room.active ? room.avg.ttp : '-'}}˚C</h3>
                        <h5>Latest<br />Temperature</h5>
                    </div>
                    <div class="room-panel-divider"></div>
                    <div class="room-panel-half">
                        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hum.png" />
                        <h3 style="color:white;">{{room.active ? room.avg.hhm : '-'}}%</h3>
                        <h5>Latest<br />Humidity</h5>
                    </div>
                </div>
                <div class="room-panel room-header-rdg" id="aq-panel">
                    <div class="room-panel-half">
                        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvoc.png" />
                        <h3>{{room.active ? room.avg.iaq : '-'}}</h3>
                        <h5>IAQ<br />Index</h5>
                    </div>
                    <div class="room-panel-divider"></div>
                    <div class="room-panel-half">
                        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/eCO2Text.png" />
                        <h3>{{room.active ? room.avg.co2 : '-'}}<span style="font-size:0.4em;" v-if="room.avg.co2 !== '-'">ppm</span></h3>
                        <h5>Carbon<br />Dioxide</h5>
                    </div>
                </div>
            </header>
            <section class="room-panel room-chart">
                <h2 class="no-series-warning" v-if="noSeriesWarning">TEST DATA: AirPulse trending will begin in a few days</h2>
                <trend-component v-if="showTrend" :series="series"></trend-component>
            </section>
            <footer class="room-header">
                <div class="room-panel room-footer-panel" id="equip-panel">
                    <div class="room-footer-header">
                        <h5>Equipment Info</h5>
                    </div>
                    <div class="room-footer-body">
                        <img id="equip-photo" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/fcu.png" />
                        <div class="room-panel-divider"></div>
                        <div class="room-equip-nodes">
                          <h6><span style="color:rgb(0,153,191)">Type: </span> {{room.info.altConfig.toUpperCase()}}<span style="font-size:0.8em;color:gray;"> {{parseType(room.info.altConfig)}}</span></h6>
                          <h6><span style="color:rgb(0,153,191)">Manufacturer: </span> {{(room.info.manufacturer && room.info.manufacturer !== ' ') ? room.info.manufacturer : 'Not specified'}}</h6>
                          <h6><span style="color:rgb(0,153,191)">Model: </span> {{(room.info.modelNumber && room.info.modelNumber !== ' ') ? room.info.modelNumber : 'Not specified'}}</h6>
                          <h6><span style="color:rgb(0,153,191)">AirPulse Id: </span> {{room.info.device}}</h6>
                        </div>
                    </div>
                </div>
                <div class="room-panel room-footer-panel" id="alerts-panel">
                    <div class="room-footer-header">
                        <h5>Alerts</h5>
                    </div>
                    <div class="alerts-list">
                        <div class="alert" v-for="alert in alerts" :style="{'background-color': alert.crit ? 'rgb(139, 18, 39)' : 'rgb(159, 155, 51)'}">
                            <img :src="alert.img" />
                            <h5>{{alert.crit ? 'CRITICAL' : 'POOR'}} {{alert.type}} Alert</h5>
                        </div>
                    </div>
                </div>
                <div class="room-panel room-footer-panel" id="events-panel">
                    <div class="room-footer-header">
                        <h5>Maintenance Events</h5>
                    </div>
                    <div class="room-footer-body">
                        <img style="height:50%;" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/comingSoon.png" />
                    </div>
                </div>
            </footer>
        </main>
    </main>

</template>

<script>

import moment from 'moment';

import Frame from '@/components/card/Frame';
import Front from '@/components/card/Front';
import Left from '@/components/card/Left';
import Right from '@/components/card/Right';
import TrendComp from '@/components/chart/Trend';

import Trend from '@/util/trend';
import DateNorm from '@/lib/dates';
import formatBundle from '@/util/bundle';
import Rest from '@/util/rest';

export default {

    data(){
        return {
            mobile: false,
            front: 'front',
            back: 'right',
            room: {},
            cardFlip: 'card-flip',
            showFront: true,
            showTrend: false,
            series: [],
            infoProps: [
                {
                    name: 'Configuration',
                    val: 'altConfig'
                },
                {
                    name: 'Manufacturer',
                    val: 'manufacturer'
                },
                {
                    name: 'Model',
                    val: 'modelNumber'
                },
                {
                    name: 'Size',
                    val: `altSize`
                },
                {
                    name: 'Device Id',
                    val: 'device'
                },
                {
                    name: 'Filter Brand',
                    val: 'fBrand'
                },
                {
                    name: 'Filter Model',
                    val: 'fModel'
                },
                {
                    name: 'Filter Type',
                    val: 'fType'
                }
            ],
            alerts: [],
            noSeriesWarning: false
        }
    },
    components: {
        'frame-component': Frame,
        'front-component': Front,
        'left-component': Left,
        'right-component': Right,
        'trend-component': TrendComp
    },
    methods: {

        initTrend(){
            let tkn = this.$cookies.get('breeziProTkn');
            Trend.setTrends(tkn, this.room.info.id)
                .then(trend => {
                    this.series = trend;
                    this.showTrend = true;
                    if (!trend.async) {
                      this.noSeriesWarning = true;
                    }
                });
        },

        assessStatus(){
            if (!this.room.active) {
                return 'rgb(0, 153, 191)';
            } else if (this.room.overallAlerts.crit > 0) {
                return '#aa2031';
            } else if (this.room.overallAlerts.bad > 0) {
                return '#b59f3e';
            } else {
                return '#96fa87';
            }
        },

        calcMaint(){
            if (this.room.avg.days === '-') {
                return '-';
            }
            let now = Math.floor(Date.now()/1000);
            let calced = now + (this.room.avg.days * 86400);
            return DateNorm(calced);
        },

        setAlerts(){
            Object.keys(this.room.alerts).map(a => {
                if (this.room.alerts[a].bad > 0) {
                    this.alerts.push({type: switchType(a).type, crit: false, img: `https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/${switchType(a).suffix}.png`});
                }
                if (this.room.alerts[a].crit > 0) {
                    this.alerts.push({type: switchType(a).type, crit: true, img: `https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/${switchType(a).suffix}.png`});
                }
            });
            function switchType(type){
                switch (type) {
                    case 'days':
                        return {type: 'Filter', suffix: 'filterOfficial'};
                    break;
                    case 'ttp':
                        return {type: 'Temperature', suffix: 'temp'};
                    break;
                    case 'hhm':
                        return {type: 'Humidity', suffix: 'hum'};
                    break;
                    case 'iaq':
                        return {type: 'Indoor Air Quality', suffix: 'tvoc'};
                    break;
                    case 'co2':
                        return {type: 'CO2', suffix: 'eCO2Text'}
                    break;
                }
            }
        },

        appTrend(series){
            this.$emit('fullTrend', series);
        },

        tryTms(){
            let now = Math.floor(Date.now()/1000);
            let loggedIn = localStorage.getItem('breeziTms');
            return loggedIn <= (now - 3600) ? false : true;
        },

        setAuxiliary(local){
          let tkn = this.$cookies.get('breeziProTkn');
          let rawBundle = local
            ? new Promise(resolve => {
              resolve(JSON.parse(localStorage.getItem('breeziBundle')));
            })
            : Rest.getInitialBundle(tkn);
          rawBundle.then(bundle => {
            if (!local) bundle = formatBundle(bundle.buildings);
            let bldgs = bundle.bldgs;
            let ids = JSON.parse(localStorage.getItem('breeziRoom'));
            let bId = ids.bId;
            let fIndex = ids.fIndex;
            let rId = ids.rId;
            let bldg = bldgs.find(b => b.info.id === bId);
            let floor = bldg.floors.find(f => f.info.index === fIndex);
            this.room = floor.rooms.find(r => r.info.id === rId);
            this.room.fName = floor.info.name ? floor.info.name : `Floor ${floor.info.index}`;
            this.room.bName = bldg.info.name;
            this.setRoomInfo();
            this.$emit('updateHeader', {
              type: 'room',
              name: this.room.info.hvacName,
              lgText: '',
              subText1: '',
              subText2: '',
              bad: this.room.overallAlerts.bad,
              crit: this.room.overallAlerts.crit,
              org: bundle,
              bldg: bldg,
              floor: floor,
              room: this.room
            });
          });
        },

        setRoomInfo(){
          this.room.status = this.assessStatus();
          this.setAlerts();
          this.initTrend();
        },

        parseType(type){
          let refTable = {
            fcu: '(Fan Coil Unit)',
            ahu: '(Air Handling Unit)',
            vav: '(Variable Air Volume Unit)',
            vrf: '(Variable Refrigerant Flow)',
            ptac: '',
            vtac: '(Vertical Terminal Air Con)',
            split: '(Mini-split HVAC Unit)',
            other: ''
          }
          return refTable[type];
        }

    },
    mounted(){
        localStorage.setItem('floorCards', true);
        this.mobile = window.innerWidth < 1000 ? true : false;
        if (this.tryTms()) {
          if (this.$route.params && this.$route.params.room) {
              this.room = this.$route.params.room;
              this.setRoomInfo();
          } else {
            try {
              try {
                this.setAuxiliary(true);
              } catch(err) {
                console.log(err);
                this.setAuxiliary(false);
              }
            } catch(err) {
              console.log(err);
              alert('Your session has expired. Please login again');
              this.$emit('logout');
            }
          }
        } else {
          alert('Your session has expired. Please login again');
          this.$emit('logout');
        }

    },

}

</script>

<style>

.room-outer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.web-room {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-header {
    width: 90%;
    height: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-panel {
    background-color: #333237;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-panel-half {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    position: relative;
}

.room-panel-half img {
    height: 20%;
    top: 12px;
    position: absolute;
    align-self: flex-start;
    margin-left: 10px;
}

.room-panel-half h3 {
    font-size: 2.7em;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}

.room-panel-half h5 {
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.room-panel-divider {
    width: 2px;
    height: 75%;
    background-color: #dce0e3;
}

.room-header-name {
    width: 17%;
    border-left: 3px solid rgb(0, 153, 191);
    flex-direction: column;
    justify-content: flex-start;
    padding: 7px;
}

.room-header-name h3, .room-header-name h4, .room-header-name h5 {
    margin: 5px;
    width: 100%;
    text-align: left;
    word-break: break-all;
}

.room-header-name h3 {
    color: rgb(0, 153, 191);
}

.room-header-name small {
    margin-top: 10px;
}

.room-header-rdg {
    width: 27%;
    height: 100%;
}

#days-panel {
    background-color: #7045d9;
}

#env-panel {
    background-color: #5ab34d;
}

#aq-panel {
    background-color: gray;
}

.room-chart {
    height: 51%;
    width: 90%;
    margin-top: 0.6%;
    margin-bottom: 0.6%;
    border-left: 3px solid rgb(0, 153, 191);
    position: relative;
}

.room-footer-panel {
    width: 32.82%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.room-footer-header {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-footer-header h5 {
    width: 100%;
    text-align: center;
}

.room-footer-body {
    width: 100%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#equip-panel {
    border: 3px solid rgb(0, 153, 191);
    align-items: flex-end;
}

#equip-panel .room-footer-header {
    background-color: rgb(0, 153, 191);
}

#equip-photo {
    width: 25%;
    margin-right: 10px;
}

.room-equip-nodes {
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 10px;
}

.room-equip-nodes h6 {
  text-align: left;
  margin: 4px;
  min-width: 60%;
}

#alerts-panel {
    border: 3px solid rgb(170, 111, 32);
}

#alerts-panel .room-footer-header {
    background-color: rgb(170, 111, 32);
}

.alerts-list {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    padding-top: 5px;
}

.alert {
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3px;
}

.alert img {
    width: 5%;
    margin-left: 10%;
}

.alert h5 {
    margin-left: 10%;
}

#events-panel {
    border: 3px solid #2D8070;
}

#events-panel .room-footer-header {
    background-color: #2D8070;
}

.no-series-warning {
    position: absolute;
    top: 3%;
    width: 100%;
    text-align: center;
    color: red;
}

</style>
