<template>
    <header class="header-outer" :style="{'height': screenWidth > 1000 ? '80px' : '130px'}">
        <div class="header-third" v-if="screenWidth > 1000" style="margin-left:2%">
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/pro-box.png" />
        </div>
        <header class="multi-header">
            <div class="mobile-top" v-if="screenWidth < 1000">
                <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/pro-box.png" />
                <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hamburger.png" @click="emitSettings()"/>
            </div>
            <div class="header-center" :style="{'height': screenWidth > 1000 ? '60%' : '50%', 'margin-top': screenWidth > 1000 ? '25px' : '0', 'opacity': type === 'room' ? 0 : 1}">
                <div class="center-third" id="name-icon">
                    <img :src="iconUrl" />
                    <small>{{name}}</small>
                </div>
                <div class="center-third">
                    <h1 :style="{'font-size': screenWidth > 1000 ? '4em' : '3em'}">{{lgText}}</h1>
                    <div class="subtext">
                        <h5>{{subText1}}</h5>
                        <h5>{{subText2}}</h5>
                    </div>
                </div>
                <div class="center-third">
                    <h4 style="color:yellow;">{{bad}}</h4>
                    <img src="@/assets/alert.png" />
                    <h4 style="color:red">{{crit}}</h4>
                </div>
            </div>
        </header>
        <div class="header-icons header-third" v-if="screenWidth > 1000">
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/settingsIcon.png" @click="emitSettings()" />
            <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/logout.png" @click="emitLogout()" />
        </div>
    </header>
</template>

<script>

export default {
    data(){
        return {
            type: '',
            name: '',
            lgText: '',
            subText1: '',
            subText2: '',
            bad: 0,
            crit: 0,
            screenWidth: 0,
            iconUrl: ''
        }
    },
    props: ['headerData'],
    methods: {
        setIcon(){
            let suffix = ''
            switch (this.type) {
                case 'org':
                    suffix = 'enterprise'
                break;
                case 'bldg':
                    suffix = 'company';
                break;
                case 'floor':
                    suffix = 'tilesWhite';
                break;
                case 'room':
                    suffix = 'doorWhite';
                break;
                default:
                    suffix = 'enterprise';
            }
            this.iconUrl = `https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/${suffix}.png`;
        },

        emitLogout(){
            this.$emit('logout');
        },

        emitSettings(){
            this.$emit('togSettings');
        }

    },
    mounted(){
        this.screenWidth = window.innerWidth;
        this.type = this.headerData.type;
        this.name = this.headerData.name;
        this.lgText = this.headerData.lgText;
        this.subText1 = this.headerData.subText1;
        this.subText2 = this.headerData.subText2;
        this.bad = this.headerData.bad;
        this.crit = this.headerData.crit;
        this.setIcon();
    },
    watch: {
        'headerData': function(newData, oldData){
            this.type = newData.type;
            this.name = newData.name;
            this.lgText = newData.lgText;
            this.subText1 = newData.subText1;
            this.subText2 = newData.subText2;
            this.bad = newData.bad;
            this.crit = newData.crit;
            this.setIcon();
        }
    }
}

</script>

<style>

.header-outer {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-third {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-third img {
    height: 60%;
    width: auto;
}

.multi-header {
    height: 130px;
    width: 1000px;
    max-width: 100%;
}

.mobile-top {
    width: 100%;
    height: 50px;
    background-color: #151920;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 1px solid #dce0e3;
}

.mobile-top img {
    height: 30px;
    /* margin-top: 30px; */
}

.header-center {
    width: 100%;
    background-color: #0a5268;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 3px;
}

.header-icons {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
}

.header-icons img {
    height: 50%;
    margin-right: 30px;
    cursor: pointer;
}

.center-third {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-icon {
    flex-direction: column;
    padding-right: 5%;
}

#name-icon small {
    margin-top: 3px;
    line-height: 11px;
}

.center-third img {
    height: 55%;
    margin-bottom: 2px;
}

.center-third h1 {
    font-size: 4em;
    margin-right: 5px;
}

.subtext h5 {
    margin: 0;
    text-align: left;
}

.center-third h4 {
    margin: 10px;
}

</style>
