<template>

    <nav :class="webMobileNav">
        <div class="nav-node" id="org-node">
            <img v-if="['org', 'bldg', 'floor', 'room'].includes(type)" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/enterprise.png"  @click="navComponent('org')" />
        </div>
        <div class="nav-node" id="bldg-node">
            <img v-if="['bldg', 'floor', 'room'].includes(type)" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/company.png" @click="navComponent('bldg')" />
        </div>
        <div class="nav-node" id="floor-node">
            <img v-if="['floor', 'room'].includes(type)" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tilesWhite.png" @click="navComponent('floor')" />
        </div>
        <div class="nav-node" id="room-node" @click="navComponent()">
            <img v-if="type === 'room'" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/doorWhite.png" />
        </div>
    </nav>

</template>

<script>

import formatBundle from '@/util/bundle';

export default {
    data(){
        return {
            webMobileNav: 'web-nav',
            screenWidth: 0,
            type: '',
            org: {},
            bldg: {},
            floor: {}
        }
    },
    props: ['navData'],
    methods: {

        navComponent(dest){
            let comp;
            let params = {};
            switch (dest) {
                case 'org':
                    comp = 'Org';
                    params = {bldgs: this.org};
                    this.removeProps(['bldg', 'floor'], 'org');
                    this.type = 'org';
                break;
                case 'bldg':
                    comp = 'Building';
                    params = {bldg: this.bldg};
                    this.removeProps(['floor'], 'bldg');
                    this.type = 'bldg';
                break;
                case 'floor':
                    comp = 'Floor';
                    params = {floor: this.floor};
                    this.removeProps([], 'floor');
                    this.type = 'floor';
                break;
            }
            this.$router.push({
                name: comp,
                params: params
            });

        },

        removeProps(props, type){
            props.map(p => {
                delete this.navData[p];
            });
            let newHeader = {};
            switch (type) {
                case 'org':
                    newHeader.type = 'org';
                    newHeader.name = this.org.name;
                    newHeader.lgText = this.org.bldgs.length;
                    newHeader.subText1 = `Building${this.org.bldgs.length === 1 ? '' : 's'}`;
                    newHeader.subText2 = 'monitored';
                    newHeader.bad = this.org.overallAlerts.bad;
                    newHeader.crit = this.org.overallAlerts.crit;
                    newHeader.org = this.org;
                break;
                case 'bldg':
                    if (!this.bldg.type) {
                      let bldgs = JSON.parse(localStorage.getItem('breeziBundle'));
                      this.bldg = bldgs.bldgs.find(b => b.info.id === localStorage.getItem('breeziBldg'));
                    }
                    newHeader.type = 'bldg';
                    newHeader.name = this.bldg.info.name;
                    newHeader.lgText = this.bldg.floors.filter(f => f.active).length;
                    newHeader.subText1 = `of ${this.bldg.floors.length}`;
                    newHeader.subText2 = `Floor${this.bldg.floors.length === 1 ? '' : 's'} monitored`;
                    newHeader.bad = this.bldg.overallAlerts.bad;
                    newHeader.crit = this.bldg.overallAlerts.crit;
                    newHeader.bldg = this.bldg;
                break;
                case 'floor':
                    if (!this.bldg.type) {
                      let bldgs = JSON.parse(localStorage.getItem('breeziBundle'));
                      let ids = JSON.parse(localStorage.getItem('breeziFloor'));
                      let bldg = bldgs.bldgs.find(b => b.info.id === ids.bId);
                      this.floor = bldg.floors.find(f => f.info.index === ids.fIndex);
                    }
                    newHeader.type = 'floor';
                    newHeader.name = this.floor.info.name ? this.floor.info.name : `Floor ${this.floor.info.index}`;
                    newHeader.lgText = this.floor.rooms.filter(r => r.active).length;
                    newHeader.subText1 = `Room${newHeader.lgText == 1 ? '' : 's'}`;
                    newHeader.subText2 = 'monitored';
                    newHeader.bad = this.floor.overallAlerts.bad;
                    newHeader.crit = this.floor.overallAlerts.crit;
                    newHeader.floor = this.floor;
                break;
                case 'room':
                  newHeader.type = 'room';
                  newHeader.name = this.room.info.hvacName;
                  newHeader.lgText = '';
                  newHeader.subText1 = '';
                  newHeader.subText2 = '';
                  newHeader.bad = this.room.overallAlerts.bad;
                  newHeader.crit = this.room.overallAlerts.crit;
                  newHeader.room = this.room;
            }
            this.$emit('updateHeaderFromNav', newHeader);
        }

    },
    mounted(){
        this.screenWidth = window.innerWidth;
        this.webMobileNav = this.screenWidth > 1000
            ? 'web-nav'
            : 'mobile-nav';
        this.type = this.navData.type;
        if (this.navData.org) {
            this.org = this.navData.org;
        }
    },
    watch: {
        navData: function(newData, oldData){
            this.type = newData.type;
            if (newData.org) {
                this.org = newData.org;
            }
            if (newData.bldg) {
                this.bldg = newData.bldg
            }
            if (newData.floor) {
                this.floor = newData.floor;
            }
            if (newData.room) {
              this.floor = newData.room;
            }
        }
    }
}

</script>

<style>

.web-nav {
    position: fixed;
    height: 50%;
    width: 100px;
    top: 25%;
    left: 0;
    bottom: 25%;
    background-color: #0096d6;
}

.nav-node {
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-nav .nav-node {
    width: 100%;
    height: 25%;
}

.nav-node img {
    height: 50%;
    cursor: pointer;
}

.nav-node img:hover {
    width: 70px;
    height: 70px;
    border: 3px solid white;
    border-radius: 100%;
    padding: 5%;
}

.mobile-nav {
    position: fixed;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #dce0e3;
    background-color: #0096d6;
}

.mobile-nav .nav-node {
    width: 25%;
    height: 100%;
}

#bldg-node {
    background-color: #0575a4;
}

#floor-node {
    background-color: #024e6e;
}

#room-node {
    background-color: #03354a;
}

</style>
