<template>

    <main class="settings-overlay">
        <div :class="outer" :style="{'width': mobile ? '100vw' : '50vw', 'padding-bottom': mobile ? '100px' : '0px'}">
            <h4 class="ex-toggle" @click="emitSettings()">X</h4>
            <div class="settings-toggle" :style="{'marign-bottom': mobile ? '100px' : '0px'}">
                <div :class="activeToggle === 1 ? 'settings-toggle-panel active-settings-toggle' : 'settings-toggle-panel'" @click="switchSettings(1)">
                    <img v-if="activeToggle === 1" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/settingsDark.png" />
                    <img v-else src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/settingsIcon.png" />
                </div>
                <div :class="activeToggle === 2 ? 'settings-toggle-panel active-settings-toggle' : 'settings-toggle-panel'" @click="switchSettings(2)">
                    <img v-if="activeToggle === 2" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/profileDark.png" />
                    <img v-else src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/profile.png" />
                </div>
            </div>
            <div class="settings-header">
                <h2>{{headerLg}}</h2>
                <h4>{{headerSm}}</h4>
            </div>
            <div class="settings-body" v-if="activeToggle === 1">
                <div class="settings-item">
                    <h5>Subscription</h5>
                    <h3 style="color:navy">Trial</h3>
                </div>
                <div v-for="opt in settingsOptions" class="settings-item">
                    <h5>{{opt.label}}</h5>
                    <div class="opt-toggle" :style="{'width': mobile ? '90%' : '70%'}">
                        <h4>{{opt.left}}</h4>
                        <div class="opt-slider">
                            <div class="toggle-ball" :style="{'align-self': opt.default === 1 ? 'flex-start' : 'flex-end'}"></div>
                        </div>
                        <h4>{{opt.right}}</h4>
                    </div>
                </div>
                <h5 v-if="mobile" style="width:100%;text-align:center;margin-top:40px;color:darkblue;" @click="emitLogout()">Logout</h5>
            </div>
            <div class="settings-body" v-else>
                <div class="settings-item" :style="{'height': '80px', 'border-bottom': '3px solid rgb(47,47,47)', 'background-color': 'lightgray', 'margin-top': 0}" @click="newTeamMember = true">
                  <h1 class="add-user-header" v-if="!newTeamMember">+</h1>
                  <h4 style="margin:2px;width:100%;">Add Team Member</h4>
                </div>
                <div class="settings-item" v-if="newTeamMember" style="height:auto;padding-top:40px;">
                  <input class="team-input" v-model="teamMemberEmail" name="team-member-email" />
                  <label for="team-member-email">Email Address</label>
                  <input class="team-input" v-model="teamMemberFirstName" name="team-member-first-name" />
                  <label for="team-member-first-name">First Name</label>
                  <input class="team-input" v-model="teamMemberLastName" name="team-member-last-name" />
                  <label for="team-member-last-name">Last Name</label>
                  <input class="team-input" v-model="teamMemberJobTitle" name="team-member-job-title" />
                  <label for="team-member-job-title">Job Title (optional)</label>
                  <div class="team-btns">
                    <a class="breezi-btn" style="background-color:#f68e37;" @click="cancelNewTeamMember()">Cancel</a>
                    <a class="breezi-btn" style="background-color:#2cc241;" v-if="validateTeamMember()" @click="submitNewTeamMember()">Submit</a>
                  </div>
                </div>
                <div v-for="member in team.users" v-if="!newTeamMember" class="settings-item">
                    <h3 style="width:100%;text-align:left;">{{member.firstName}} {{member.lastName}}</h3>
                    <h5>{{member.email}}</h5>
                    <h6 style="color:navy;margin-top:30px;">{{memberTitle(member)}}</h6>
                </div>
            </div>
        </div>
    </main>

</template>

<script>

import Rest from '@/util/rest';

export default {
    data(){
        return {
            mobile: false,
            outer: 'settings-outer',
            headerLg: 'Settings',
            headerSm: '',
            activeToggle: 1,
            settingsOptions: [
                {
                    label: 'Units',
                    left: 'Standard',
                    right: 'Metric',
                    default: 2
                },
                {
                    label: 'Time',
                    left: 'User',
                    right: 'Site',
                    default: 1
                },
                {
                    label: 'Language',
                    left: 'English',
                    right: 'Other',
                    default: 1
                }
            ],
            newTeamMember: false,
            teamMemberEmail: '',
            teamMemberFirstName: '',
            teamMemberLastName: '',
            teamMemberJobTitle: ''
        }
    },
    props: ['admin', 'team'],
    methods: {

        emitSettings(){
            this.outer = 'settings-outer settings-close';
            setTimeout(() => {
                this.$emit('togSettings');
            }, 1000)
        },

        switchSettings(n){
            this.activeToggle = n;
            if (n === 1) {
                this.headerLg = 'Settings';
                this.headerSm = this.admin.email;
            } else {
                this.headerLg = 'Team';
                this.headerSm = this.admin.org;
            }
        },

        memberTitle(m){
            if (m.email === this.team.org.masterAdmin) {
                return 'Master Administrator';
            } else {
                return m.jobTitle ? m.jobTitle : 'Member'
            }
        },

        cancelNewTeamMember(){
          this.teamMemberEmail = '';
          this.teamMemberFirstName = '';
          this.teamMemberLastName = '';
          this.teamMemberJobTitle = '';
          this.newTeamMember = false;
        },

        submitNewTeamMember(){
          let body = JSON.stringify({
            email: this.teamMemberEmail,
            firstName: this.teamMemberFirstName,
            lastName: this.teamMemberLastName,
            jobTitle: this.teamMemberJobTitle
          });
          Rest.postUser(body, this.$cookies.get('breeziProTkn'))
            .then(res => {
              Rest.getTeam(this.$cookies.get('breeziProTkn'))
                .then(team => {
                  this.team = team;
                }).catch(refreshErr => {
                  console.log(refreshErr);
                  alert('Could not retrieve updated team. Please logout and back in to enable changes to team roster');
                  this.$emit('togSettings');
                })
            }).catch(postErr => {
              console.log(postErr);
              alert('There was a problem adding this user to your team. Please try again and if the issue persists, contact support@breezi.io');
              this.cancelNewTeamMember();
            });
        },

        validateTeamMember(){
          return this.teamMemberEmail.length && this.teamMemberEmail.includes('@') && this.teamMemberFirstName.length && this.teamMemberLastName.length;
        },

        emitLogout(){
          this.$emit('togSettings');
          this.$emit('logout');
        }

    },
    mounted(){
        if (!this.team.users) this.team = JSON.parse(localStorage.getItem('breeziTeam'));
        this.mobile = window.innerWidth < 1000 ? true : false;
        this.headerSm = this.admin.email;
    }
}

</script>

<style>

.settings-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.settings-outer {
    position: absolute;
    right: -100vw;
    top: 0px;
    bottom: 0px;
    display: flex;
    background-color: #dce0e3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: slidein 1.4s forwards;
    color: rgb(47, 47, 47);
    border-left: 3px solid rgb(47, 47, 47);
    overflow-x : hidden;
    overflow-y: scroll;
}

.settings-header {
    width: 80%;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 10px double rgb(47, 47, 47);
    padding-bottom: 8px;
    margin-top: 100px;
}

.settings-header h2, .settings-header h4 {
    width: 100%;
    text-align: left;
    margin: 3px;
}

@keyframes slidein {
    100% {
        right: 0;
    }
}

.settings-close {
    animation: slideout 1.4s forwards;
    right: 0;
}

@keyframes slideout {
    100% {
        right: -100vw;
    }
}

.ex-toggle {
    position: absolute;
    top: 0;
    left: 2%;
    border: 3px solid rgb(47, 47, 47);
    border-radius: 100%;
    padding: 3px;
    width: 30px;
    height: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ex-toggle:hover {
    color: #dce0e3;
    background-color: rgb(47, 47, 47);
}

.settings-toggle {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.settings-toggle-panel {
    width: 47px;
    height: 47px;
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.settings-toggle-panel img {
    width: 51%;
}

.active-settings-toggle {
    background-color: #dce0e3;
    width: 44px;
    height: 44px;
}

.settings-body {
    width: 80%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.settings-item {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(47, 47, 47);
    margin-top: 10px;
}

.settings-item h5 {
    width: 100%;
    text-align: left;
    margin: 0px;
}

.opt-toggle {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.settings-item h4 {
    color: gray;
    width: 40%;
}

.opt-slider {
    width: 50px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

.toggle-ball {
    width: 21px;
    height: 21px;
    background: gray;
    border-radius: 100%;
}

.add-user-header {
  width: 40px;
  height: 40px;
  color: rgb(47, 47, 47);
  border: 2px solid rgb(47, 47, 47);
  border-radius: 100%;
  margin: 0;
}

.team-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid rgb(47, 47, 47);
  width: 260px;
  margin: 10px;
  border-radius: 0px;
}

.team-btns {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

</style>
