<template>
  <div id="app">
    <router-view v-on:hideNav="elimNav()" v-on:loginSuccessful="initLogin($event)" v-on:updateHeader="initHeader($event)" v-on:fullTrend="showTrend($event)" v-on:setAppAuxiliary="setAux($event)" v-on:logout="forceLogout()"/>
    <header-component v-if="showHeader" :headerData="headerData" v-on:logout="forceLogout()" v-on:togSettings="toggleSettings()"></header-component>
    <nav-component v-if="showHeader" :navData="headerData" v-on:updateHeaderFromNav="initHeader($event)"></nav-component>
    <loading-component v-if="loading"></loading-component>
    <settings-component :team="team" :admin="admin" v-if="settings" v-on:togSettings="toggleSettings()" v-on:logout="forceLogout()"></settings-component>
  </div>
</template>

<script>

import Header from './components/util/Header';
import Nav from './components/util/Nav';
import Loading from './components/design/Loading';
import Settings from './components/util/Settings';
import Trend from './components/chart/Trend';

import { mapState } from 'vuex';

import formatBundle from '@/util/bundle';

export default {
  name: 'App',
  data(){
    return {
        loading: false,
        bldgData: {},
        org: {},
        admin: {},
        team: {},
        showHeader: false,
        headerData: {},
        settings: false,
        trend: false,
        series: {}
    }
  },
  components: {
    'header-component': Header,
    'loading-component': Loading,
    'nav-component': Nav,
    'settings-component': Settings,
    'trend-component': Trend
  },
  computed: mapState({
    bundle: state => state.bundle
  }),
  methods: {

      initLogin(bundle){

          this.loading = true;
          this.org = bundle.organization || bundle.org;
          this.admin = bundle.admin;
          this.team = bundle.team;
          this.bldgData = formatBundle(bundle.buildings);
          localStorage.setItem('breeziTms', Math.round(Date.now()/1000));
          localStorage.setItem('breeziBundle', JSON.stringify(this.bldgData));
          localStorage.setItem('breeziTeam', JSON.stringify(this.team));
          localStorage.setItem('breeziAdmin', JSON.stringify(this.admin));
          localStorage.setItem('breeziOrg', JSON.stringify(this.org));
          this.bldgData.name = this.org.name;
          this.initHeader({
              type: 'org',
              name: this.org.name,
              lgText: this.bldgData.bldgs.length,
              subText1: `Building${this.bldgData.bldgs.length === 1 ? '' : 's'}`,
              subText2: 'monitored',
              bad: this.bldgData.overallAlerts ? this.bldgData.overallAlerts.bad : 0,
              crit: this.bldgData.overallAlerts ? this.bldgData.overallAlerts.crit : 0,
              org: this.bldgData
          });
          this.loading = false;
          this.$router.push({
              name: 'Org',
              params: {
                  bldgs: this.bldgData
              }
          })
      },

      setAux(bundle){
          this.org = bundle.org;
          this.admin = bundle.admin;
          this.team = bundle.team;
          this.bldgData.name = this.org.name;

      },

      initHeader(updatedHeader){
          this.showHeader = false;
          if (this.headerData.org && !updatedHeader.org) {
              updatedHeader.org = this.headerData.org;
          }
          if (this.headerData.bldg && !updatedHeader.bldg) {
              updatedHeader.bldg = this.headerData.bldg;
          }
          if (this.headerData.floor && !updatedHeader.floor) {
              updatedHeader.floor = this.headerData.floor;
          }
          this.headerData = updatedHeader;
          this.showHeader = true;
      },

      forceLogout(){
          this.$cookies.remove('breeziProTkn');
          if (localStorage.getItem('floorCards') && localStorage.getItem('floorCards') !== undefined) localStorage.removeItem('floorCards');
          this.$router.push({
              name: 'Splash'
          });
      },

      toggleSettings(){
          this.settings = this.settings === true ? false: true;
      },

      showTrend(series){
          this.series = series;
          this.trend = true;
      },

      elimNav(){
        this.showHeader = false;
        this.settings = false;
      }

  },
  watch: {
      'headerData': function(newData, oldData){
          this.headerData = newData;
      }
  }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #dce0e3;
  font-family: 'Comfortaa', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.breezi-btn {
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    color: #dce0e3;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8em;
}

.breezi-btn:hover {
    border-radius: 0px;
    text-decoration: none;
    color: #dce0e3;
    width: 125px;
    max-width: 32%;
    box-shadow: 0 0 2px white;
}

.form-panel {
    width: 475px;
    max-width: 97vw;
    height: 800px;
    max-height: 80%;
    background-color: rgba(69, 148, 231, 0.15);
    border: 2px solid rgb(69, 148, 231);
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-panel-header {
    width: 80%;
    height: 10%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #dce0e3;
    /* background-color: rgb(0, 153, 191); */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.form-panel-header img {
    width: 30px;
    height: 30px;
    border: 2px solid #dce0e3;
    border-radius: 100%;
    padding: 2px;
    margin-right: 16px;
}

.form-panel-header h4 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.form-progress {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.form-progress-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-progress-node small {
    margin: 8px;
}

.progress-node {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-node h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 2px;
    font-size: 1.3em;
    width: 100%;
    height: 100%;
}

.form-progress-node h6 {
    color: gray;
}

.active-node .progress-node {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 153, 191);
    border: 1px solid rgb(0, 153, 191);
    margin-top: 0px;
}

.active-node small {
    color: rgb(0, 153, 191);
}

.completed-node .progress-node {
    background-color: rgb(120, 196, 89);
    border: 1px solid rgb(120, 196, 89);
}

.completed-node small {
    color: rgb(120, 196, 89);
}

.form-section {
    height: 60%;
}

.form-input-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.breezi-input {
    padding-left: 5px;
    padding-right: 5px;
    width: 300px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-bottom: 1px solid rgb(0, 153, 191);
    margin-top: 10px;
    border-radius: 0px;
}

.breezi-label {
    margin-top: 4px;
    width: 300px;
    text-align: left;
    font-size: 0.8em;
}

.breezi-btn-panel {
    width: 100%;
    position: absolute;
    bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
}

.breezi-btn-panel .breezi-btn {
    width: 120px;
    height: 50px;
}

.back-btn {
    background-color: rgba(231, 148, 92, 0.5);
    border:1px solid #df764e;
}

.prog-btn {
    background-color: rgba(71, 170 ,60, 0.5);
    border:1px solid #49e740;
}

.outer-trend {
    background-color: rgb(47, 47, 47);
    position: absolute;
    transform:rotateZ(90deg);
    top: 0;
    bottom: 0;
    padding:0;
    overflow: hidden;
}

.close-trend {
    width: 100px;
    height: 50px;
    background-color: rgba(231, 148, 92, 0.5);
    border:1px solid #df764e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 2%;
}

::-webkit-scrollbar {
  width: 1.5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 153, 191, 0.8);
}

.ob-outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
